3-3-3-qualitative-report/workflow/n8n-workflow.json
{
  "updatedAt": "2026-03-30T01:13:43.692Z",
  "createdAt": "2026-03-16T04:28:06.570Z",
  "id": "7ljk74wFhpvgz3jy",
  "name": "(정성보고서) 데이터기반행정 활성화 제고 노력",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "### 1. 사용자 입력\n* 설명 \n: 활성화 제고 노력 실적 업로드 및 사용자 평가지표 입력\n",
        "height": 416,
        "width": 454,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        224
      ],
      "id": "f9cb8fd8-10ed-48c9-8dd7-7cde442990aa",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\n\n// 실제 폼 필드명으로 접근\nconst agencyName = inputItem.json['기관명을 입력하세요'] || '';\nconst uploadedFiles = inputItem.json['증적자료를 업로드하세요'] || [];\nconst binary = inputItem.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nif (uploadedFiles.length === 0) throw new Error('업로드된 파일이 없습니다.');\n\nconst items = [];\nfor (let i = 0; i < uploadedFiles.length; i++) {\n  const binaryKey = binaryKeys[i];\n  if (!binaryKey) continue;\n  items.push({\n    json: {\n      fileIndex: i,\n      filename: uploadedFiles[i].filename,\n      agencyName,\n      totalFiles: uploadedFiles.length\n    },\n    binary: { data: binary[binaryKey] }\n  });\n}\n\nif (items.length === 0) throw new Error('바이너리 데이터를 찾을 수 없습니다.');\nreturn items;"
      },
      "id": "node-파일정규화",
      "name": "파일 정규화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 120000
        }
      },
      "id": "node-gemini-upload",
      "name": "Gemini 파일 업로드",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        832,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Gemini Files API 응답에서 file_uri 추출 + generateContent 요청 바디 조립\n// ※ JSON 전용 처리 — binary 접근 없음 (Task Runner 호환)\nconst results = [];\nconst uploadResults = $input.all();\nconst originalItems = $('파일 정규화').all();\n\nfor (let i = 0; i < uploadResults.length; i++) {\n  const uploadItem = uploadResults[i];\n  const originalItem = originalItems[i] || { json: {} };\n\n  const fileUri = uploadItem.json?.file?.uri;\n  const filename = originalItem.json.filename || `file_${i + 1}.pdf`;\n  const fileIndex = originalItem.json.fileIndex ?? i;\n  const agencyName = originalItem.json.agencyName ?? '';\n\n  if (!fileUri) {\n    throw new Error(`[${filename}] 파일 업로드 응답에 URI가 없습니다. 응답: ${JSON.stringify(uploadItem.json)}`);\n  }\n\n  const geminiRequestBody = {\n    contents: [{\n      parts: [\n        {\n          file_data: {\n            mime_type: 'application/pdf',\n            file_uri: fileUri\n          }\n        },\n        {\n          text: `파일명: \"${filename}\"\\n\\n이 PDF 파일의 전체 내용을 텍스트로 상세히 추출해주세요.\\n- 표가 있으면 표의 내용을 텍스트로 정리해주세요.\\n- 이미지·그래픽이 있으면 그 내용과 의미를 설명해주세요.\\n- 원문에 충실하게 추출하되, 레이아웃·페이지 구분 마크업은 생략해도 됩니다.\\n- 최대한 완전하게 추출해주세요.`\n        }\n      ]\n    }],\n    generationConfig: {\n      maxOutputTokens: 8192\n    }\n  };\n\n  results.push({\n    json: {\n      fileIndex,\n      filename,\n      agencyName,\n      fileUri,\n      geminiRequestBody\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "node-gemini-build",
      "name": "Gemini 요청 조립",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiRequestBody }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "node-gemini-gen",
      "name": "Gemini 내용 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Gemini generateContent 응답 파싱 + 파일 역할 판별 (본체 vs 보조자료)\nreturn $input.all().map(item => {\n  const filename = item.json.filename ?? '파일명 없음';\n\n  // Gemini API 응답에서 추출 텍스트 가져오기\n  const candidates = item.json.candidates;\n  let extractedText = '';\n  if (candidates?.[0]?.content?.parts?.[0]?.text) {\n    extractedText = candidates[0].content.parts[0].text;\n  }\n\n  // 파일 역할 판별: 파일명에 아래 키워드가 포함되면 보조자료(support)\n  const supportKeywords = [\n    '계획서', '계획(안)', '계획안', '결과요약서', '결과보고서',\n    '보고서(안)', '보조자료', '공문', '지침', '가이드', '증빙'\n  ];\n  const isSupport = supportKeywords.some(kw => filename.includes(kw));\n\n  return {\n    json: {\n      fileIndex: item.json.fileIndex ?? 0,\n      filename,\n      agencyName: item.json.agencyName ?? '',\n      role: isSupport ? 'support' : 'main',\n      text: extractedText.trim().substring(0, 15000)\n    }\n  };\n});"
      },
      "id": "node-텍스트정리",
      "name": "파일 텍스트 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "files",
        "options": {}
      },
      "id": "node-취합",
      "name": "전체 취합",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1344,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst files = inputData.files || [];\nconst agencyName = (files[0] || {}).agencyName || '';\n\nconst mainFiles = files.filter(f => f.role === 'main');\nconst supportFiles = files.filter(f => f.role === 'support');\n\n// 본체 파일 목록을 명시적으로 번호 나열\nconst mainFileList = mainFiles.map((f, i) => `  ${i+1}. ${f.filename}`).join('\\n');\n\nconst mainText = mainFiles.length > 0\n  ? '【주요 실적 파일 (본체 — 실적 자체)】\\n' +\n    mainFiles.map((f, i) =>\n      '[본체파일 ' + (i+1) + '번] ' + f.filename + '\\n' + (f.text || '(내용 없음)')\n    ).join('\\n\\n---\\n\\n')\n  : '';\n\nconst supportText = supportFiles.length > 0\n  ? '\\n\\n【보조 자료 파일 (계획서·계획(안) 등 — 실적 수에 포함 안 됨)】\\n' +\n    supportFiles.map((f, i) =>\n      '[보조파일 ' + (i+1) + '번] ' + f.filename + '\\n' + (f.text || '(내용 없음)')\n    ).join('\\n\\n---\\n\\n')\n  : '';\n\nreturn [{\n  json: {\n    agencyName,\n    fileCount: files.length,\n    mainFileCount: mainFiles.length,\n    supportFileCount: supportFiles.length,\n    mainFileList,\n    fileListText: (mainText + supportText).substring(0, 50000)\n  }\n}];"
      },
      "id": "node-분류준비",
      "name": "분류 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 16000
        }
      },
      "id": "node-gemini-lm",
      "name": "Google Gemini (Agent용)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1632,
        496
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// AI 출력 정제화 + 첨부7 양식 HTML 변환\nconst outputRaw = $input.first().json.output;\n\n// 1) JSON 추출: 다양한 포맷 대응 (코드펜스, 앞뒤 텍스트, 순수 JSON 모두)\nfunction extractJSON(str) {\n  if (typeof str !== 'string') return str;\n\n  // 방법 1: ```json ... ``` 블록 추출\n  const fenceMatch = str.match(/```json[\\s\\S]*?({[\\s\\S]*?})[\\s\\S]*?```/);\n  if (fenceMatch) return fenceMatch[1].trim();\n\n  // 방법 2: ``` ... ``` 블록 추출\n  const fenceMatch2 = str.match(/```[\\s\\S]*?({[\\s\\S]*?})[\\s\\S]*?```/);\n  if (fenceMatch2) return fenceMatch2[1].trim();\n\n  // 방법 3: 첫 번째 { 부터 마지막 } 까지 추출 (앞뒤 설명 텍스트 제거)\n  const firstBrace = str.indexOf('{');\n  const lastBrace = str.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    return str.substring(firstBrace, lastBrace + 1).trim();\n  }\n\n  return str.trim();\n}\n\n// 2) Gemini가 다른 필드명으로 돌려줄 때 정규화\nfunction normalizeData(raw) {\n  if (!raw) return { achievements: [], summary: '' };\n\n  if (Array.isArray(raw.achievements) && raw.achievements.length > 0) return raw;\n\n  const src = raw.report || raw.results || raw['실적'] || [];\n  const achievements = src.map(function(item, i) {\n    var bg = item.background || item.backgroundAndPurpose || item['추진배경'] || item['추진배경및목적'] || '';\n    if (item.purpose && !bg.includes(item.purpose)) bg = (bg + '\\n\\n■ 목적: ' + item.purpose).trim();\n    return {\n      achievementNumber: item.achievementNumber || item.number || (i + 1),\n      type: item.type || item['유형'] || '기타',\n      title: item.title || item['제목'] || item.name || '',\n      relatedFiles: item.relatedFiles || item.files || [],\n      background: bg,\n      target: item.target || item['추진대상'] || '',\n      content: item.content || item['추진내용'] || '',\n      outcome: item.outcome || item.result || item.achievementAndExpectedEffect\n             || item.achievementResult || item['추진성과'] || item['기대효과'] || ''\n    };\n  });\n\n  return {\n    achievements: achievements,\n    summary: raw.summary || ('접수된 파일을 분석하여 선별한 대표 실적 ' + achievements.length + '건입니다.')\n  };\n}\n\nvar data;\ntry {\n  var cleaned = extractJSON(outputRaw);\n  data = normalizeData(JSON.parse(cleaned));\n} catch(e) {\n  // 파싱 실패 시 원본 텍스트도 같이 기록\n  data = { achievements: [], summary: '⚠️ 출력 파싱 실패. n8n 실행 로그를 확인해주세요. (' + String(e.message) + ')\\n\\n[원본 출력 앞 500자]\\n' + String(outputRaw || '').substring(0, 500) };\n}\n\nvar achievements = data.achievements || [];\n\nvar html = '<!DOCTYPE html><html lang=\"ko\"><head><meta charset=\"UTF-8\"><title>첨부7 정성보고서 초안</title>';\nhtml += '<style>';\nhtml += '@media print { .no-print { display: none !important; } body { margin: 0; } .achievement { page-break-inside: avoid; } }';\nhtml += 'body{font-family:\"Malgun Gothic\",sans-serif;max-width:960px;margin:20px auto;padding:24px;line-height:1.7;color:#222}';\nhtml += 'h1{color:#1a3a5c;border-bottom:3px solid #2980b9;padding-bottom:12px;margin-bottom:6px}';\nhtml += '.meta{color:#666;font-size:14px;margin-bottom:8px}';\nhtml += '.print-btn{display:inline-block;background:#2980b9;color:#fff;padding:8px 20px;border-radius:4px;cursor:pointer;border:none;font-size:14px;margin-bottom:20px;font-family:inherit}';\nhtml += '.achievement{background:#f8f9fa;border-left:5px solid #2980b9;margin:28px 0;padding:20px 24px;border-radius:4px}';\nhtml += '.ach-header{margin:0 0 10px 0}';\nhtml += '.ach-num{color:#1a3a5c;font-size:17px;font-weight:bold}';\nhtml += '.badge{background:#2980b9;color:#fff;padding:3px 12px;border-radius:12px;font-size:12px;margin-left:10px;vertical-align:middle}';\nhtml += '.files{color:#888;font-size:13px;margin:6px 0 14px 0}';\nhtml += '.row{display:grid;grid-template-columns:160px 1fr;gap:8px;margin:10px 0;padding:8px 0;border-bottom:1px solid #e9ecef}';\nhtml += '.row:last-child{border-bottom:none}';\nhtml += '.lbl{font-weight:bold;color:#555;font-size:14px;padding-top:2px}';\nhtml += '.val{color:#222;font-size:14px;white-space:pre-wrap}';\nhtml += '.summary{background:#e8f4fd;border:1px solid #bee3f8;padding:14px 18px;border-radius:4px;margin-bottom:24px;font-size:14px}';\nhtml += '.footer{color:#aaa;font-size:12px;margin-top:32px;padding-top:12px;border-top:1px solid #eee}';\nhtml += '</style></head><body>';\n\nhtml += '<h1>첨부7 정성보고서 초안</h1>';\nhtml += '<div class=\"meta\">선별 실적 ' + achievements.length + '건 | AI 자동 생성 초안 — 반드시 검토 후 사용</div>';\nhtml += '<button class=\"print-btn no-print\" onclick=\"window.print()\">🖨️ PDF로 저장 (인쇄)</button>';\n\nif (data.summary) {\n  html += '<div class=\"summary\">📌 ' + data.summary + '</div>';\n}\n\nachievements.forEach(function(ach, idx) {\n  var files = (ach.relatedFiles || []).join(' · ');\n  html += '<div class=\"achievement\">';\n  html += '<div class=\"ach-header\">';\n  html += '<span class=\"ach-num\">실적 ' + (idx + 1) + '. ' + (ach.title || '') + '</span>';\n  if (ach.type) html += '<span class=\"badge\">' + ach.type + '</span>';\n  html += '</div>';\n  if (files) html += '<div class=\"files\">📎 ' + files + '</div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진배경 및 목적</div><div class=\"val\">' + (ach.background || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진대상</div><div class=\"val\">' + (ach.target || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진내용</div><div class=\"val\">' + (ach.content || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진성과(기대효과)</div><div class=\"val\">' + (ach.outcome || '') + '</div></div>';\n  html += '</div>';\n});\n\nhtml += '<div class=\"footer\">본 초안은 AI가 생성한 것입니다. 담당자가 반드시 검토·수정 후 활용하시기 바랍니다.</div>';\nhtml += '</body></html>';\n\nreturn [{ json: { html: html, achievementCount: achievements.length, summary: data.summary || '' } }];"
      },
      "id": "node-html",
      "name": "HTML 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2128,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst availableKeys = Object.keys(item.json || {});\nconst html = item.json.html;\n\nif (!html) {\n  throw new Error('html 키 없음. 사용 가능한 키: ' + availableKeys.join(', '));\n}\n\nconst 파일명 = item.json.파일명 || 'report';\nconst safeFileName = 파일명.replace(/[^a-zA-Z0-9가-힙_-]/g, '_');\n\nreturn [{\n  binary: {\n    data: {\n      data: Buffer.from(html, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: `${safeFileName}_분석결과.html`\n    }\n  },\n  json: item.json\n}];"
      },
      "id": "66feb06f-ac23-4842-894c-5ae10bab141a",
      "name": "HTML 저장",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "1. AI 친화·고가치",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "584bd109-de5c-4a19-9f40-a921c2e1de92"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "2. 공공데이터 활용도 제고",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60219518-c6c8-40aa-94bb-e417e1641ed2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "3. AI 도입·활용 사례",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3bd8ca45-16f4-4142-b6c4-2377aebfe170"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "4. 데이터기반행정 활용도 제고",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b969a845-3315-432d-98f7-42e9c002373d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "5. 공유데이터 제공 노력",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a86f3684-1134-4aeb-aca8-7b92d344d0f1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_5"
            }
          ]
        },
        "options": {}
      },
      "id": "ad749041-51d5-4f1f-a2c2-623addffabbe",
      "name": "지표별 분류",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        496,
        320
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "기관명: {{ $json.agencyName }}\n\n【⚠️ 실적 수 확인 — 반드시 준수】\n본체 파일 수: {{ $json.mainFileCount }}개\n보조자료 파일 수: {{ $json.supportFileCount }}개\n\n당신이 반드시 작성해야 할 실적: 정확히 {{ $json.mainFileCount }}건\n\n본체 파일 목록 (각 파일 = 각 실적 1건):\n{{ $json.mainFileList }}\n\n위 목록의 본체 파일이 {{ $json.mainFileCount }}개이면 실적도 반드시 {{ $json.mainFileCount }}건입니다. 어떤 파일도 빠뜨리지 마세요.\n\n【업로드된 파일 내용】\n{{ $json.fileListText }}\n\n위 파일들을 분석하여 첨부7 정성보고서 초안을 작성해주세요.\n- 본체 파일 {{ $json.mainFileCount }}개 = 실적 {{ $json.mainFileCount }}건. 절대 빠뜨리지 마세요.\n- 파일 안의 내용이 아닌, 파일로 대표되는 제작·배포 활동이 실적입니다.\n- 계획서(보조자료)는 실적으로 세지 말고, 배경·내용 파악에만 활용하세요.",
        "options": {
          "systemMessage": "당신은 데이터기반행정 활성화 평가 정성보고서(첨부7) 작성 전문가입니다.\n\n【⚠️ 절대 규칙 — 실적이란 무엇인가】\n1. 실적(추진실적) = 업로드된 파일이 나타내는 제작물·활동 자체입니다.\n   - 카드뉴스 PDF/이미지 → 실적: \"카드뉴스 제작·배포\"\n   - 포스터 PDF → 실적: \"분석결과 포스터 제작·배포\"\n   - 교육자료 PDF → 실적: \"○○ 교육 실시\"\n2. 파일 안의 내용(카드뉴스에 담긴 설명, 포스터에 표시된 수치)은 실적이 아닙니다.\n3. 선별하지 마세요. 본체 파일 수 = 실적 수. 올라온 것은 전부 작성합니다.\n4. 한 파일 = 한 실적. 한 파일에서 여러 실적을 파생시키지 마세요.\n5. 계획서·계획(안)은 배경·내용 파악에만 활용. 별도 실적이 아닙니다.\n\n【지표 설명】\n지표 3-3-3. 활성화 제고를 위한 다양한 노력\n∎ 기관에서 데이터기반행정을 활성화하기 위해 추진한 다양한 시책 노력을 8점 만점 기준으로 정성 평가\n\n【실적 유형 분류표】\n유형 1. 데이터 분석·활용 역량진단 결과의 활용\n  예시: 역량진단 결과를 활용한 인력 재배치, 개선계획 수립 및 실적점검\n\n유형 2. 기반조성\n  예시: 법·규정 정비·절차·제도 개선, 전담부서 인력 충원·예산확보, 성과지표에 분석결과 활용 지표 신설\n\n유형 3. 문화조성 및 성과확산\n  예시: 공모전·경진대회·설명회 등 행사, 카드뉴스·포스터 제작·배포, 우수사례 공유회, 보도자료 배포\n\n유형 4. AI·데이터 전문인력 양성\n  예시: 자체 교육과정 개발·운영, 전문인력 채용, 자격증 취득 지원\n\n유형 5. 기타\n  예시: 기관·데이터 특성을 고려한 기타 노력\n\n【파일 그룹화 규칙】\n- 【본체 파일】: 실적 자체인 파일 (카드뉴스, 포스터, 교육 결과물, 행사 결과물 등)\n  → 본체 파일 1개 = 실적 1건\n- 【보조 자료 파일】: 계획서·계획(안)·결과요약서 등 실적을 설명하는 문서\n  → 실적 수에 포함하지 않음. 동일 주제 본체 파일의 배경·내용 파악에만 활용\n- 보조 자료만 있고 본체가 없으면: 보조 자료 1개 = 실적 1건으로 처리\n\n【각 항목 작성 기준 — 반드시 이 기준으로만 작성】\n\n▶ 실적명\n- 파일명에서 기관명을 제거한 핵심 제작물명·활동명\n- 예) \"데이터기반행정 카드뉴스\", \"분석결과 포스터\"\n\n▶ 추진배경 및 목적\n- 이 제작물·활동을 기획하게 된 배경(문제 인식, 필요성)과 달성하려는 목적\n- 계획서(보조자료)에 배경·목적 내용이 있으면 그대로 활용\n- 계획서 없으면 제작물 성격(홍보, 교육, 인식 제고 등)과 지표 맥락에서 추론\n- ❌ 파일 안의 데이터·수치·세부 내용을 나열하지 말 것\n\n▶ 추진대상\n- 이 활동의 수혜자·배포 대상·교육 대상\n- 파일에 명시된 경우 그대로 기재, 없으면 맥락에서 추론(내부 직원, 관련 기관 등)\n\n▶ 추진내용\n- 무엇을(제작물명·활동명 포함) + 어떻게 했는지(제작 방식·배포 방식·실시 방법)\n- 예) \"데이터기반행정 소개, 사례, 추진 전략 등의 내용을 담은 카드뉴스를 제작하여 전부서에 배포\"\n- 예) \"2025년 공공데이터 활용도 분석 결과를 인포그래픽 형식의 포스터로 제작하여 전부서에 배포\"\n- 계획서에 구체적인 제작 대상·추진 방식이 있으면 반드시 활용\n- ❌ 파일 내부의 세부 데이터·항목 목록을 나열하지 말 것\n\n▶ 추진성과(기대효과)\n- 이 제작·배포·실시 활동이 가져온 또는 기대되는 효과\n- 예) 내부 구성원의 인지도 제고와 자발적 참여 유도, 데이터기반행정 문화 정착 도모\n- 예) 기관 데이터 분석 성과를 홍보하여 내부 구성원의 이해도와 참여 의지를 높이고 데이터 기반 의사결정 문화 정착\n- ❌ 파일 내 데이터·수치 나열 금지\n\n【⚠️ 출력 형식 — 절대 준수】\n- 반드시 순수 JSON 객체만 출력하세요.\n- 절대로 ```json 코드블록, 마크다운, 설명 텍스트, 주석을 포함하지 마세요.\n- 첫 글자는 반드시 { 이어야 하고 마지막 글자는 반드시 } 이어야 합니다.\n- JSON 외 어떠한 문자도 앞뒤에 출력하지 마세요."
        }
      },
      "id": "node-agent",
      "name": "실적 분류 & 초안 작성",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1712,
        352
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "{\"type\":\"object\",\"properties\":{\"achievements\":{\"type\":\"array\",\"description\":\"작성된 실적 목록. 본체 파일 수와 동일한 수로 작성. 선별하지 말고 전부 작성.\",\"items\":{\"type\":\"object\",\"properties\":{\"achievementNumber\":{\"type\":\"number\",\"description\":\"실적 번호 (1부터 시작)\"},\"type\":{\"type\":\"string\",\"description\":\"실적 유형 (역량진단 결과 활용/기반조성/문화조성 및 성과확산/AI·데이터 전문인력 양성/기타)\"},\"title\":{\"type\":\"string\",\"description\":\"실적 제목 (파일명 기반 핵심 제작물명·활동명)\"},\"relatedFiles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"이 실적에 해당하는 파일명 목록 (본체+보조자료 포함)\"},\"background\":{\"type\":\"string\",\"description\":\"추진배경 및 목적\"},\"target\":{\"type\":\"string\",\"description\":\"추진대상\"},\"content\":{\"type\":\"string\",\"description\":\"추진내용\"},\"outcome\":{\"type\":\"string\",\"description\":\"추진성과(기대효과)\"}},\"required\":[\"achievementNumber\",\"type\",\"title\",\"relatedFiles\",\"background\",\"target\",\"content\",\"outcome\"]}},\"summary\":{\"type\":\"string\",\"description\":\"전체 실적 요약 (1~2문장)\"}},\"required\":[\"achievements\",\"summary\"]}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1856,
        528
      ],
      "id": "13c3b19f-4cd4-45b8-9aac-d6882e03b214",
      "name": "초안 출력 파서",
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "PDF 업로드",
        "formDescription": "증적자료 업로드",
        "formFields": {
          "values": [
            {
              "fieldLabel": "기관명을 입력하세요",
              "requiredField": true
            },
            {
              "fieldLabel": "증적자료를 업로드하세요",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "지표 선택",
              "fieldType": "dropdown",
              "defaultValue": "지표를 선택하세요",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1. AI 친화·고가치"
                  },
                  {
                    "option": "2. 공공데이터 활용도 제고"
                  },
                  {
                    "option": "3. AI 도입·활용 사례"
                  },
                  {
                    "option": "4. 데이터기반행정 활용도 제고"
                  },
                  {
                    "option": "5. 공유데이터 제공 노력"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "8cae2558-798e-403f-bc34-6790a72192b0",
      "name": "자료 업로드",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        288,
        368
      ],
      "webhookId": "1061e240-55af-48fd-a1c3-a6807b55ca7e",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 2. PDF 텍스트 추출",
        "height": 416,
        "width": 806,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        224
      ],
      "id": "53b56df4-31a6-4e35-bee7-099246316d4a",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 3. 분석, 초안 작성",
        "height": 416,
        "width": 502,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        224
      ],
      "id": "66e55689-5c71-4ec2-8239-8999b3b23f97",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 4. 결과 출력",
        "height": 416,
        "width": 502,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2016,
        224
      ],
      "id": "1aec9b5f-167d-4c7e-bd67-4aea5a0d9437",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "content": "### 1. 사용자 입력\n* 설명 \n: 활성화 제고 노력 실적 업로드 및 사용자 평가지표 입력\n",
        "height": 416,
        "width": 454,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        816
      ],
      "id": "4247649a-939d-429d-84bc-8c2dd1cb085f",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first();\nconst agencyName = inputItem.json['기관명을 입력하세요'] || '';\nconst uploadedFiles = inputItem.json['증적자료를 업로드하세요'] || [];\nconst binary = inputItem.binary || {};\nconst binaryKeys = Object.keys(binary);\nif (uploadedFiles.length === 0) throw new Error('업로드된 파일이 없습니다.');\nconst items = [];\nfor (let i = 0; i < uploadedFiles.length; i++) {\n  const binaryKey = binaryKeys[i];\n  if (!binaryKey) continue;\n  items.push({ json: { fileIndex: i, filename: uploadedFiles[i].filename, agencyName, totalFiles: uploadedFiles.length }, binary: { data: binary[binaryKey] } });\n}\nif (items.length === 0) throw new Error('바이너리 데이터를 찾을 수 없습니다.');\nreturn items;"
      },
      "id": "d305207a-2d23-46ef-b696-d8ee5ac5ad0b",
      "name": "파일 정규화2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?uploadType=media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b4f70081-743c-486f-a087-7a8208fc5d17",
      "name": "Gemini 파일 업로드2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst uploadResults = $input.all();\nconst originalItems = $('파일 정규화2').all();\nfor (let i = 0; i < uploadResults.length; i++) {\n  const uploadItem = uploadResults[i];\n  const originalItem = originalItems[i] || { json: {} };\n  const fileUri = uploadItem.json?.file?.uri;\n  const filename = originalItem.json.filename || `file_${i + 1}.pdf`;\n  const fileIndex = originalItem.json.fileIndex ?? i;\n  const agencyName = originalItem.json.agencyName ?? '';\n  if (!fileUri) throw new Error(`[${filename}] 파일 업로드 응답에 URI가 없습니다. 응답: ${JSON.stringify(uploadItem.json)}`);\n  const geminiRequestBody = {\n    contents: [{ parts: [\n      { file_data: { mime_type: 'application/pdf', file_uri: fileUri } },\n      { text: `파일명: \"${filename}\"\\n\\n이 PDF 파일의 전체 내용을 텍스트로 상세히 추출해주세요.\\n- 표가 있으면 표의 내용을 텍스트로 정리해주세요.\\n- 이미지·그래픽이 있으면 그 내용과 의미를 설명해주세요.\\n- 원문에 충실하게 추출하되, 레이아웃·페이지 구분 마크업은 생략해도 됩니다.\\n- 최대한 완전하게 추출해주세요.` }\n    ]}],\n    generationConfig: { maxOutputTokens: 8192 }\n  };\n  results.push({ json: { fileIndex, filename, agencyName, fileUri, geminiRequestBody } });\n}\nreturn results;"
      },
      "id": "e5c7e45a-48f6-46c8-bfcc-1d32c60cec55",
      "name": "Gemini 요청 조립2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        944
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiRequestBody }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "287f795f-a5d6-4a1f-aa4d-f3378a1445c3",
      "name": "Gemini 내용 생성2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const filename = item.json.filename ?? '파일명 없음';\n  const candidates = item.json.candidates;\n  let extractedText = '';\n  if (candidates?.[0]?.content?.parts?.[0]?.text) extractedText = candidates[0].content.parts[0].text;\n  const supportKeywords = ['계획서','계획(안)','계획안','결과요약서','결과보고서','보고서(안)','보조자료','공문','지침','가이드','증빙'];\n  const isSupport = supportKeywords.some(kw => filename.includes(kw));\n  return { json: { fileIndex: item.json.fileIndex ?? 0, filename, agencyName: item.json.agencyName ?? '', role: isSupport ? 'support' : 'main', text: extractedText.trim().substring(0, 15000) } };\n});"
      },
      "id": "3849811d-1faa-449d-b3df-724cd3a7eb5d",
      "name": "파일 텍스트 정리2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        944
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "files",
        "options": {}
      },
      "id": "94adf42c-7873-43df-8d98-62e6681b7bfb",
      "name": "전체 취합2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1424,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst files = inputData.files || [];\nconst agencyName = (files[0] || {}).agencyName || '';\nconst mainFiles = files.filter(f => f.role === 'main');\nconst supportFiles = files.filter(f => f.role === 'support');\nconst mainText = mainFiles.length > 0\n  ? '【주요 실적 파일 (본체)】\\n' + mainFiles.map((f,i) => '[본체파일 '+(i+1)+'] '+f.filename+'\\n'+(f.text||'(내용 없음)')).join('\\n\\n---\\n\\n')\n  : '';\nconst supportText = supportFiles.length > 0\n  ? '\\n\\n【보조 자료 파일 (계획서 등)】\\n' + supportFiles.map((f,i) => '[보조파일 '+(i+1)+'] '+f.filename+'\\n'+(f.text||'(내용 없음)')).join('\\n\\n---\\n\\n')\n  : '';\nreturn [{ json: { agencyName, fileCount: files.length, mainFileCount: mainFiles.length, supportFileCount: supportFiles.length, fileListText: (mainText+supportText).substring(0, 50000) } }];"
      },
      "id": "ef88b079-1001-4589-b53c-53f72cbce723",
      "name": "분류 준비2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        944
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 8000
        }
      },
      "id": "362e34df-1bec-45ab-9095-fff8aa20cd89",
      "name": "Google Gemini (Agent용)2",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1712,
        1088
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "기관명: {{ $json.agencyName }}\n전체 파일 수: {{ $json.fileCount }}개 (본체 {{ $json.mainFileCount }}개 / 보조자료 {{ $json.supportFileCount }}개)\n\n【실적 수 확인】\n본체 파일이 {{ $json.mainFileCount }}개이므로, 실적을 반드시 {{ $json.mainFileCount }}건 작성하세요.\n보조자료만 있고 본체가 없으면 보조자료 수만큼 작성하세요.\n선별하거나 줄이지 마세요. 올라온 파일 전부 작성합니다.\n\n【업로드된 파일 내용】\n{{ $json.fileListText }}\n\n위 파일들을 분석하여 첨부7 정성보고서 초안을 작성해주세요.\n- 본체 파일 1개 = 실적 1건. 빠짐없이 전부 작성하세요.\n- 파일 안의 내용이 아닌, 파일로 대표되는 제작·배포 활동이 실적입니다.\n- 계획서(보조자료)는 실적으로 세지 말고, 같은 실적의 배경·내용 파악에만 활용하세요.",
        "options": {
          "systemMessage": "당신은 데이터기반행정 활성화 평가 정성보고서(첨부7) 작성 전문가입니다.\n\n【⚠️ 절대 규칙 — 실적이란 무엇인가】\n1. 실적(추진실적) = 업로드된 파일이 나타내는 제작물·활동 자체입니다.\n2. 파일 안의 내용(카드뉴스에 담긴 설명, 포스터에 표시된 수치)은 실적이 아닙니다.\n3. 선별하지 마세요. 본체 파일 수 = 실적 수. 올라온 것은 전부 작성합니다.\n4. 한 파일 = 한 실적. 한 파일에서 여러 실적을 파생시키지 마세요.\n5. 계획서·계획(안)은 배경·내용 파악에만 활용. 별도 실적이 아닙니다.\n\n【지표 설명】\n지표 3-3-3. 활성화 제고를 위한 다양한 노력\n∎ 기관에서 데이터기반행정을 활성화하기 위해 추진한 다양한 시책 노력을 8점 만점 기준으로 정성 평가\n\n【실적 유형 분류표】\n유형 1. 데이터 분석·활용 역량진단 결과의 활용\n유형 2. 기반조성\n유형 3. 문화조성 및 성과확산\n유형 4. AI·데이터 전문인력 양성\n유형 5. 기타\n\n【각 항목 작성 기준】\n▶ title(실적명): 파일명에서 기관명 제거한 핵심 제작물명·활동명\n▶ background(추진배경 및 목적): 제작·활동 기획 배경과 목적. 파일 내 데이터·수치 나열 금지\n▶ target(추진대상): 수혜자·배포 대상·교육 대상\n▶ content(추진내용): 무엇을 + 어떻게(제작·배포·실시 방법)\n▶ outcome(추진성과): 이 활동이 가져온/기대되는 효과. 파일 내 수치 나열 금지\n\n【⚠️ 출력 형식 — 절대 준수】\n반드시 아래 JSON 스키마를 정확히 따르세요. 키 이름을 변경하거나 한국어로 바꾸지 마세요.\n\n{\n  \"achievements\": [\n    {\n      \"achievementNumber\": 1,\n      \"type\": \"문화조성 및 성과확산\",\n      \"title\": \"데이터기반행정 카드뉴스 제작·배포\",\n      \"relatedFiles\": [\"파일명.pdf\"],\n      \"background\": \"추진배경 및 목적 텍스트\",\n      \"target\": \"추진대상 텍스트\",\n      \"content\": \"추진내용 텍스트\",\n      \"outcome\": \"추진성과 텍스트\"\n    }\n  ],\n  \"summary\": \"전체 요약 1~2문장\"\n}\n\n- 반드시 순수 JSON만 출력. ```json 코드블록·마크다운·설명 텍스트 절대 금지.\n- 첫 글자는 반드시 { 마지막 글자는 반드시 }\n- achievements, summary, achievementNumber, type, title, relatedFiles, background, target, content, outcome 키 이름을 절대 바꾸지 마세요."
        }
      },
      "id": "08cc900a-c0b7-4b56-8b92-032c50df54a1",
      "name": "실적 분류 & 초안 작성2",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1792,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "{\"type\":\"object\",\"properties\":{\"achievements\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"achievementNumber\":{\"type\":\"number\"},\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"relatedFiles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"background\":{\"type\":\"string\"},\"target\":{\"type\":\"string\"},\"content\":{\"type\":\"string\"},\"outcome\":{\"type\":\"string\"}},\"required\":[\"achievementNumber\",\"type\",\"title\",\"relatedFiles\",\"background\",\"target\",\"content\",\"outcome\"]}},\"summary\":{\"type\":\"string\"}},\"required\":[\"achievements\",\"summary\"]}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1936,
        1120
      ],
      "id": "edab6c75-3a65-4928-9e9d-c7af21595108",
      "name": "초안 출력 파서2"
    },
    {
      "parameters": {
        "jsCode": "const outputRaw = $input.first().json.output;\n\nfunction extractJSON(str) {\n  if (typeof str !== 'string') return str;\n  let m = str.match(/```json\\s*([\\s\\S]*?)```/);\n  if (m) return m[1].trim();\n  m = str.match(/```\\s*([\\s\\S]*?)```/);\n  if (m) return m[1].trim();\n  const first = str.indexOf('{');\n  const last = str.lastIndexOf('}');\n  if (first !== -1 && last > first) return str.substring(first, last + 1).trim();\n  return str.trim();\n}\n\nfunction normalizeItem(item, i) {\n  const bg =\n    item.background ||\n    item.backgroundAndPurpose ||\n    item['추진배경 및 목적'] ||\n    item['추진배경및목적'] ||\n    item['추진배경'] || '';\n  return {\n    achievementNumber: item.achievementNumber || item.number || (i + 1),\n    type: item.type || item['유형'] || item['실적유형'] || '기타',\n    title: item.title || item['제목'] || item['실적명'] || item.name || '',\n    relatedFiles: item.relatedFiles || item.files || item['관련파일'] || [],\n    background: bg,\n    target: item.target || item['추진대상'] || '',\n    content: item.content || item['추진내용'] || '',\n    outcome:\n      item.outcome || item.result || item.achievementAndExpectedEffect ||\n      item.achievementResult || item['추진성과'] ||\n      item['추진성과(기대효과)'] || item['기대효과'] || ''\n  };\n}\n\nfunction normalizeData(raw) {\n  if (!raw) return { achievements: [], summary: '' };\n  if (Array.isArray(raw.achievements) && raw.achievements.length > 0) {\n    return { achievements: raw.achievements.map(normalizeItem), summary: raw.summary || '' };\n  }\n  const src =\n    raw.report || raw.results || raw['실적'] ||\n    raw['정성보고서'] || raw['추진실적'] || raw['실적목록'] || [];\n  if (Array.isArray(src) && src.length > 0) {\n    return {\n      achievements: src.map(normalizeItem),\n      summary: raw.summary || raw['요약'] || ('총 ' + src.length + '건의 실적을 작성하였습니다.')\n    };\n  }\n  return { achievements: [], summary: raw.summary || raw['요약'] || '' };\n}\n\nvar data;\ntry {\n  data = normalizeData(JSON.parse(extractJSON(outputRaw)));\n} catch(e) {\n  data = { achievements: [], summary: '⚠️ 출력 파싱 실패. (' + String(e.message) + ')\\n\\n[원본 출력 앞 500자]\\n' + String(outputRaw || '').substring(0, 500) };\n}\n\nvar achievements = data.achievements || [];\nvar html = '<!DOCTYPE html><html lang=\"ko\"><head><meta charset=\"UTF-8\"><title>첨부7 정성보고서 초안</title>';\nhtml += '<style>@media print{.no-print{display:none!important}body{margin:0}.achievement{page-break-inside:avoid}}body{font-family:\"Malgun Gothic\",sans-serif;max-width:960px;margin:20px auto;padding:24px;line-height:1.7;color:#222}h1{color:#1a3a5c;border-bottom:3px solid #2980b9;padding-bottom:12px;margin-bottom:6px}.meta{color:#666;font-size:14px;margin-bottom:8px}.print-btn{display:inline-block;background:#2980b9;color:#fff;padding:8px 20px;border-radius:4px;cursor:pointer;border:none;font-size:14px;margin-bottom:20px;font-family:inherit}.achievement{background:#f8f9fa;border-left:5px solid #2980b9;margin:28px 0;padding:20px 24px;border-radius:4px}.ach-header{margin:0 0 10px 0}.ach-num{color:#1a3a5c;font-size:17px;font-weight:bold}.badge{background:#2980b9;color:#fff;padding:3px 12px;border-radius:12px;font-size:12px;margin-left:10px;vertical-align:middle}.files{color:#888;font-size:13px;margin:6px 0 14px 0}.row{display:grid;grid-template-columns:160px 1fr;gap:8px;margin:10px 0;padding:8px 0;border-bottom:1px solid #e9ecef}.row:last-child{border-bottom:none}.lbl{font-weight:bold;color:#555;font-size:14px;padding-top:2px}.val{color:#222;font-size:14px;white-space:pre-wrap}.summary{background:#e8f4fd;border:1px solid #bee3f8;padding:14px 18px;border-radius:4px;margin-bottom:24px;font-size:14px}.footer{color:#aaa;font-size:12px;margin-top:32px;padding-top:12px;border-top:1px solid #eee}</style></head><body>';\nhtml += '<h1>첨부7 정성보고서 초안</h1>';\nhtml += '<div class=\"meta\">실적 ' + achievements.length + '건 | AI 자동 생성 초안 — 반드시 검토 후 사용</div>';\nhtml += '<button class=\"print-btn no-print\" onclick=\"window.print()\">🖨️ PDF로 저장 (인쇄)</button>';\nif (data.summary) html += '<div class=\"summary\">📌 ' + data.summary + '</div>';\nachievements.forEach(function(ach, idx) {\n  var files = (ach.relatedFiles || []).join(' · ');\n  html += '<div class=\"achievement\"><div class=\"ach-header\">';\n  html += '<span class=\"ach-num\">실적 ' + (idx+1) + '. ' + (ach.title||'') + '</span>';\n  if (ach.type) html += '<span class=\"badge\">' + ach.type + '</span>';\n  html += '</div>';\n  if (files) html += '<div class=\"files\">📎 ' + files + '</div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진배경 및 목적</div><div class=\"val\">' + (ach.background||'') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진대상</div><div class=\"val\">' + (ach.target||'') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진내용</div><div class=\"val\">' + (ach.content||'') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진성과(기대효과)</div><div class=\"val\">' + (ach.outcome||'') + '</div></div>';\n  html += '</div>';\n});\nhtml += '<div class=\"footer\">본 초안은 AI가 생성한 것입니다. 담당자가 반드시 검토·수정 후 활용하시기 바랍니다.</div></body></html>';\nreturn [{ json: { html, achievementCount: achievements.length, summary: data.summary || '' } }];"
      },
      "id": "9f38d868-fe7f-4f9f-a6ea-77264fa5787c",
      "name": "HTML 생성2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst html = item.json.html;\nif (!html) throw new Error('html 키 없음. 사용 가능한 키: ' + Object.keys(item.json||{}).join(', '));\nconst 파일명 = item.json.파일명 || 'report';\nconst safeFileName = 파일명.replace(/[^a-zA-Z0-9가-힙_-]/g, '_');\nreturn [{ binary: { data: { data: Buffer.from(html,'utf-8').toString('base64'), mimeType:'text/html', fileName:`${safeFileName}_분석결과.html` } }, json: item.json }];"
      },
      "id": "0d0fd834-61ed-4abd-b756-b429c9b69716",
      "name": "HTML 저장2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        944
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "1. AI 친화·고가치",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "584bd109-de5c-4a19-9f40-a921c2e1de92"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "2. 공공데이터 활용도 제고",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60219518-c6c8-40aa-94bb-e417e1641ed2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "3. AI 도입·활용 사례",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3bd8ca45-16f4-4142-b6c4-2377aebfe170"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "4. 데이터기반행정 활용도 제고",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b969a845-3315-432d-98f7-42e9c002373d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_4"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['지표 선택'] }}",
                    "rightValue": "5. 공유데이터 제공 노력",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a86f3684-1134-4aeb-aca8-7b92d344d0f1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "평가항목_5"
            }
          ]
        },
        "options": {}
      },
      "id": "1d93c62b-4722-4859-b437-d692ff6db34b",
      "name": "지표별 분류2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        576,
        912
      ]
    },
    {
      "parameters": {
        "formTitle": "PDF 업로드",
        "formDescription": "증적자료 업로드",
        "formFields": {
          "values": [
            {
              "fieldLabel": "기관명을 입력하세요",
              "requiredField": true
            },
            {
              "fieldLabel": "증적자료를 업로드하세요",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "지표 선택",
              "fieldType": "dropdown",
              "defaultValue": "지표를 선택하세요",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1. AI 친화·고가치"
                  },
                  {
                    "option": "2. 공공데이터 활용도 제고"
                  },
                  {
                    "option": "3. AI 도입·활용 사례"
                  },
                  {
                    "option": "4. 데이터기반행정 활용도 제고"
                  },
                  {
                    "option": "5. 공유데이터 제공 노력"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "7fdee2c8-9e9b-46c6-8106-d8c41085dd77",
      "name": "자료 업로드2",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        368,
        960
      ],
      "webhookId": "da743d95-895d-4dba-a26b-590d6b4c278d"
    },
    {
      "parameters": {
        "content": "### 2. PDF 텍스트 추출",
        "height": 416,
        "width": 806,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        816
      ],
      "id": "c3fab638-0b3f-412b-a034-8bbda147ee85",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "### 3. 분석, 초안 작성",
        "height": 416,
        "width": 502,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        816
      ],
      "id": "0e95ea7b-8bb2-4d73-aa8a-6d6db4181982",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "### 4. 결과 출력",
        "height": 416,
        "width": 502,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2096,
        816
      ],
      "id": "ff86776e-25a1-44a5-8801-cb117ae14f0a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "- [ ] 결과물: 입력한 모든 출력이 다 출력되어야 함\n- [ ] 입력: 모든 데이터를 한번에 넣어도 실적별로 붙어서 처리되어야 함\n- [ ] 입력: 데이터 업로드하는 화면에서 실적의 종류를 선택할 수 있도록?",
        "height": 272,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        816
      ],
      "typeVersion": 1,
      "id": "83eda217-1e89-4adc-8bb6-8b825d9198e6",
      "name": "Sticky Note4"
    }
  ],
  "connections": {
    "파일 정규화": {
      "main": [
        [
          {
            "node": "Gemini 파일 업로드",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 파일 업로드": {
      "main": [
        [
          {
            "node": "Gemini 요청 조립",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 요청 조립": {
      "main": [
        [
          {
            "node": "Gemini 내용 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 내용 생성": {
      "main": [
        [
          {
            "node": "파일 텍스트 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 텍스트 정리": {
      "main": [
        [
          {
            "node": "전체 취합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "전체 취합": {
      "main": [
        [
          {
            "node": "분류 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분류 준비": {
      "main": [
        [
          {
            "node": "실적 분류 & 초안 작성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini (Agent용)": {
      "ai_languageModel": [
        [
          {
            "node": "실적 분류 & 초안 작성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTML 생성": {
      "main": [
        [
          {
            "node": "HTML 저장",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "지표별 분류": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "파일 정규화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "실적 분류 & 초안 작성": {
      "main": [
        [
          {
            "node": "HTML 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "초안 출력 파서": {
      "ai_tool": [
        [
          {
            "node": "실적 분류 & 초안 작성",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "자료 업로드": {
      "main": [
        [
          {
            "node": "지표별 분류",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 정규화2": {
      "main": [
        [
          {
            "node": "Gemini 파일 업로드2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 파일 업로드2": {
      "main": [
        [
          {
            "node": "Gemini 요청 조립2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 요청 조립2": {
      "main": [
        [
          {
            "node": "Gemini 내용 생성2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 내용 생성2": {
      "main": [
        [
          {
            "node": "파일 텍스트 정리2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 텍스트 정리2": {
      "main": [
        [
          {
            "node": "전체 취합2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "전체 취합2": {
      "main": [
        [
          {
            "node": "분류 준비2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "분류 준비2": {
      "main": [
        [
          {
            "node": "실적 분류 & 초안 작성2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini (Agent용)2": {
      "ai_languageModel": [
        [
          {
            "node": "실적 분류 & 초안 작성2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "실적 분류 & 초안 작성2": {
      "main": [
        [
          {
            "node": "HTML 생성2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "초안 출력 파서2": {
      "ai_tool": [
        [
          {
            "node": "실적 분류 & 초안 작성2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTML 생성2": {
      "main": [
        [
          {
            "node": "HTML 저장2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "지표별 분류2": {
      "main": [
        [],
        [],
        [],
        [
          {
            "node": "파일 정규화2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "자료 업로드2": {
      "main": [
        [
          {
            "node": "지표별 분류2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "lDbfPPM6hsAvVoyM"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "자료 업로드": [
      {
        "json": {
          "기관명을 입력하세요": "ㅎㄱㅎ",
          "증적자료를 업로드하세요": [
            {
              "filename": "2025년 한국학중앙연구원 데이터기반행정 카드 뉴스.pdf",
              "mimetype": "application/pdf",
              "size": 1058633
            },
            {
              "filename": "2025년 한국학중앙연구원 데이터기반행정 카드뉴스 제작 계획(안).pdf",
              "mimetype": "application/pdf",
              "size": 112257
            },
            {
              "filename": "2025년 한국학중앙연구원 분석결과 포스터 제작 계획(안).pdf",
              "mimetype": "application/pdf",
              "size": 49282
            },
            {
              "filename": "한국학중앙연구원 분석결과 포스터.pdf",
              "mimetype": "application/pdf",
              "size": 542107
            }
          ],
          "지표 선택": "4. 데이터기반행정 활용도 제고",
          "submittedAt": "2026-03-20T17:04:05.004+09:00",
          "formMode": "test"
        },
        "binary": {
          "_____________0": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "2025년 한국학중앙연구원 데이터기반행정 카드 뉴스.pdf",
            "id": "filesystem-v2:workflows/7ljk74wFhpvgz3jy/executions/temp/binary_data/a33e14cc-fd0f-4ef0-87c6-2c0163f05f57",
            "fileSize": "1.06 MB",
            "bytes": 1058633
          },
          "_____________1": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "2025년 한국학중앙연구원 데이터기반행정 카드뉴스 제작 계획(안).pdf",
            "id": "filesystem-v2:workflows/7ljk74wFhpvgz3jy/executions/temp/binary_data/8ca08f5a-d19b-4f57-a25c-c7f78f61b9a3",
            "fileSize": "112 kB",
            "bytes": 112257
          },
          "_____________2": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "2025년 한국학중앙연구원 분석결과 포스터 제작 계획(안).pdf",
            "id": "filesystem-v2:workflows/7ljk74wFhpvgz3jy/executions/temp/binary_data/257e4087-4b2e-4254-8522-1abd6fb06e68",
            "fileSize": "49.3 kB",
            "bytes": 49282
          },
          "_____________3": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "한국학중앙연구원 분석결과 포스터.pdf",
            "id": "filesystem-v2:workflows/7ljk74wFhpvgz3jy/executions/temp/binary_data/31700e6d-befa-461b-96af-6ed15d6e231e",
            "fileSize": "542 kB",
            "bytes": 542107
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "af6664b2-cc3d-46e6-b859-bfcb8ec6e6c7",
  "activeVersionId": "b2c7801c-2ac4-4535-8dcc-e0930f59940e",
  "versionCounter": 475,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-03-16T04:28:06.572Z",
      "createdAt": "2026-03-16T04:28:06.572Z",
      "role": "workflow:owner",
      "workflowId": "7ljk74wFhpvgz3jy",
      "projectId": "W8l2ruIMAR0Z0QWf",
      "project": {
        "updatedAt": "2026-03-16T04:26:17.626Z",
        "createdAt": "2026-03-16T04:25:47.324Z",
        "id": "W8l2ruIMAR0Z0QWf",
        "name": "jy jeung <jyjung@tuconsulting.co.kr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "4abf0400-2871-4f8d-802c-e275d8b8f939"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-19T01:39:28.304Z",
      "createdAt": "2026-03-19T01:39:28.304Z",
      "id": "1PzeYFLA5JCpDTJB",
      "name": "github-sync"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-30T00:38:09.355Z",
    "createdAt": "2026-03-30T00:38:09.355Z",
    "versionId": "b2c7801c-2ac4-4535-8dcc-e0930f59940e",
    "workflowId": "7ljk74wFhpvgz3jy",
    "nodes": [
      {
        "parameters": {
          "content": "### 1. 사용자 입력\n* 설명 \n: 활성화 제고 노력 실적 업로드 및 사용자 평가지표 입력\n",
          "height": 416,
          "width": 454,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          224
        ],
        "id": "f9cb8fd8-10ed-48c9-8dd7-7cde442990aa",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "jsCode": "const inputItem = $input.first();\n\n// 실제 폼 필드명으로 접근\nconst agencyName = inputItem.json['기관명을 입력하세요'] || '';\nconst uploadedFiles = inputItem.json['증적자료를 업로드하세요'] || [];\nconst binary = inputItem.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nif (uploadedFiles.length === 0) throw new Error('업로드된 파일이 없습니다.');\n\nconst items = [];\nfor (let i = 0; i < uploadedFiles.length; i++) {\n  const binaryKey = binaryKeys[i];\n  if (!binaryKey) continue;\n  items.push({\n    json: {\n      fileIndex: i,\n      filename: uploadedFiles[i].filename,\n      agencyName,\n      totalFiles: uploadedFiles.length\n    },\n    binary: { data: binary[binaryKey] }\n  });\n}\n\nif (items.length === 0) throw new Error('바이너리 데이터를 찾을 수 없습니다.');\nreturn items;"
        },
        "id": "node-파일정규화",
        "name": "파일 정규화",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          352
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?uploadType=media",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {
            "timeout": 120000
          }
        },
        "id": "node-gemini-upload",
        "name": "Gemini 파일 업로드",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          832,
          352
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Gemini Files API 응답에서 file_uri 추출 + generateContent 요청 바디 조립\n// ※ JSON 전용 처리 — binary 접근 없음 (Task Runner 호환)\nconst results = [];\nconst uploadResults = $input.all();\nconst originalItems = $('파일 정규화').all();\n\nfor (let i = 0; i < uploadResults.length; i++) {\n  const uploadItem = uploadResults[i];\n  const originalItem = originalItems[i] || { json: {} };\n\n  const fileUri = uploadItem.json?.file?.uri;\n  const filename = originalItem.json.filename || `file_${i + 1}.pdf`;\n  const fileIndex = originalItem.json.fileIndex ?? i;\n  const agencyName = originalItem.json.agencyName ?? '';\n\n  if (!fileUri) {\n    throw new Error(`[${filename}] 파일 업로드 응답에 URI가 없습니다. 응답: ${JSON.stringify(uploadItem.json)}`);\n  }\n\n  const geminiRequestBody = {\n    contents: [{\n      parts: [\n        {\n          file_data: {\n            mime_type: 'application/pdf',\n            file_uri: fileUri\n          }\n        },\n        {\n          text: `파일명: \"${filename}\"\\n\\n이 PDF 파일의 전체 내용을 텍스트로 상세히 추출해주세요.\\n- 표가 있으면 표의 내용을 텍스트로 정리해주세요.\\n- 이미지·그래픽이 있으면 그 내용과 의미를 설명해주세요.\\n- 원문에 충실하게 추출하되, 레이아웃·페이지 구분 마크업은 생략해도 됩니다.\\n- 최대한 완전하게 추출해주세요.`\n        }\n      ]\n    }],\n    generationConfig: {\n      maxOutputTokens: 8192\n    }\n  };\n\n  results.push({\n    json: {\n      fileIndex,\n      filename,\n      agencyName,\n      fileUri,\n      geminiRequestBody\n    }\n  });\n}\n\nreturn results;"
        },
        "id": "node-gemini-build",
        "name": "Gemini 요청 조립",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          976,
          352
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.geminiRequestBody }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "node-gemini-gen",
        "name": "Gemini 내용 생성",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1104,
          352
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Gemini generateContent 응답 파싱 + 파일 역할 판별 (본체 vs 보조자료)\nreturn $input.all().map(item => {\n  const filename = item.json.filename ?? '파일명 없음';\n\n  // Gemini API 응답에서 추출 텍스트 가져오기\n  const candidates = item.json.candidates;\n  let extractedText = '';\n  if (candidates?.[0]?.content?.parts?.[0]?.text) {\n    extractedText = candidates[0].content.parts[0].text;\n  }\n\n  // 파일 역할 판별: 파일명에 아래 키워드가 포함되면 보조자료(support)\n  const supportKeywords = [\n    '계획서', '계획(안)', '계획안', '결과요약서', '결과보고서',\n    '보고서(안)', '보조자료', '공문', '지침', '가이드', '증빙'\n  ];\n  const isSupport = supportKeywords.some(kw => filename.includes(kw));\n\n  return {\n    json: {\n      fileIndex: item.json.fileIndex ?? 0,\n      filename,\n      agencyName: item.json.agencyName ?? '',\n      role: isSupport ? 'support' : 'main',\n      text: extractedText.trim().substring(0, 15000)\n    }\n  };\n});"
        },
        "id": "node-텍스트정리",
        "name": "파일 텍스트 정리",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1232,
          352
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "files",
          "options": {}
        },
        "id": "node-취합",
        "name": "전체 취합",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1344,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "const inputData = $input.first().json;\nconst files = inputData.files || [];\nconst agencyName = (files[0] || {}).agencyName || '';\n\nconst mainFiles = files.filter(f => f.role === 'main');\nconst supportFiles = files.filter(f => f.role === 'support');\n\n// 본체 파일 목록을 명시적으로 번호 나열\nconst mainFileList = mainFiles.map((f, i) => `  ${i+1}. ${f.filename}`).join('\\n');\n\nconst mainText = mainFiles.length > 0\n  ? '【주요 실적 파일 (본체 — 실적 자체)】\\n' +\n    mainFiles.map((f, i) =>\n      '[본체파일 ' + (i+1) + '번] ' + f.filename + '\\n' + (f.text || '(내용 없음)')\n    ).join('\\n\\n---\\n\\n')\n  : '';\n\nconst supportText = supportFiles.length > 0\n  ? '\\n\\n【보조 자료 파일 (계획서·계획(안) 등 — 실적 수에 포함 안 됨)】\\n' +\n    supportFiles.map((f, i) =>\n      '[보조파일 ' + (i+1) + '번] ' + f.filename + '\\n' + (f.text || '(내용 없음)')\n    ).join('\\n\\n---\\n\\n')\n  : '';\n\nreturn [{\n  json: {\n    agencyName,\n    fileCount: files.length,\n    mainFileCount: mainFiles.length,\n    supportFileCount: supportFiles.length,\n    mainFileList,\n    fileListText: (mainText + supportText).substring(0, 50000)\n  }\n}];"
        },
        "id": "node-분류준비",
        "name": "분류 준비",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          352
        ]
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {
            "maxOutputTokens": 16000
          }
        },
        "id": "node-gemini-lm",
        "name": "Google Gemini (Agent용)",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1632,
          496
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// AI 출력 정제화 + 첨부7 양식 HTML 변환\nconst outputRaw = $input.first().json.output;\n\n// 1) JSON 추출: 다양한 포맷 대응 (코드펜스, 앞뒤 텍스트, 순수 JSON 모두)\nfunction extractJSON(str) {\n  if (typeof str !== 'string') return str;\n\n  // 방법 1: ```json ... ``` 블록 추출\n  const fenceMatch = str.match(/```json[\\s\\S]*?({[\\s\\S]*?})[\\s\\S]*?```/);\n  if (fenceMatch) return fenceMatch[1].trim();\n\n  // 방법 2: ``` ... ``` 블록 추출\n  const fenceMatch2 = str.match(/```[\\s\\S]*?({[\\s\\S]*?})[\\s\\S]*?```/);\n  if (fenceMatch2) return fenceMatch2[1].trim();\n\n  // 방법 3: 첫 번째 { 부터 마지막 } 까지 추출 (앞뒤 설명 텍스트 제거)\n  const firstBrace = str.indexOf('{');\n  const lastBrace = str.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    return str.substring(firstBrace, lastBrace + 1).trim();\n  }\n\n  return str.trim();\n}\n\n// 2) Gemini가 다른 필드명으로 돌려줄 때 정규화\nfunction normalizeData(raw) {\n  if (!raw) return { achievements: [], summary: '' };\n\n  if (Array.isArray(raw.achievements) && raw.achievements.length > 0) return raw;\n\n  const src = raw.report || raw.results || raw['실적'] || [];\n  const achievements = src.map(function(item, i) {\n    var bg = item.background || item.backgroundAndPurpose || item['추진배경'] || item['추진배경및목적'] || '';\n    if (item.purpose && !bg.includes(item.purpose)) bg = (bg + '\\n\\n■ 목적: ' + item.purpose).trim();\n    return {\n      achievementNumber: item.achievementNumber || item.number || (i + 1),\n      type: item.type || item['유형'] || '기타',\n      title: item.title || item['제목'] || item.name || '',\n      relatedFiles: item.relatedFiles || item.files || [],\n      background: bg,\n      target: item.target || item['추진대상'] || '',\n      content: item.content || item['추진내용'] || '',\n      outcome: item.outcome || item.result || item.achievementAndExpectedEffect\n             || item.achievementResult || item['추진성과'] || item['기대효과'] || ''\n    };\n  });\n\n  return {\n    achievements: achievements,\n    summary: raw.summary || ('접수된 파일을 분석하여 선별한 대표 실적 ' + achievements.length + '건입니다.')\n  };\n}\n\nvar data;\ntry {\n  var cleaned = extractJSON(outputRaw);\n  data = normalizeData(JSON.parse(cleaned));\n} catch(e) {\n  // 파싱 실패 시 원본 텍스트도 같이 기록\n  data = { achievements: [], summary: '⚠️ 출력 파싱 실패. n8n 실행 로그를 확인해주세요. (' + String(e.message) + ')\\n\\n[원본 출력 앞 500자]\\n' + String(outputRaw || '').substring(0, 500) };\n}\n\nvar achievements = data.achievements || [];\n\nvar html = '<!DOCTYPE html><html lang=\"ko\"><head><meta charset=\"UTF-8\"><title>첨부7 정성보고서 초안</title>';\nhtml += '<style>';\nhtml += '@media print { .no-print { display: none !important; } body { margin: 0; } .achievement { page-break-inside: avoid; } }';\nhtml += 'body{font-family:\"Malgun Gothic\",sans-serif;max-width:960px;margin:20px auto;padding:24px;line-height:1.7;color:#222}';\nhtml += 'h1{color:#1a3a5c;border-bottom:3px solid #2980b9;padding-bottom:12px;margin-bottom:6px}';\nhtml += '.meta{color:#666;font-size:14px;margin-bottom:8px}';\nhtml += '.print-btn{display:inline-block;background:#2980b9;color:#fff;padding:8px 20px;border-radius:4px;cursor:pointer;border:none;font-size:14px;margin-bottom:20px;font-family:inherit}';\nhtml += '.achievement{background:#f8f9fa;border-left:5px solid #2980b9;margin:28px 0;padding:20px 24px;border-radius:4px}';\nhtml += '.ach-header{margin:0 0 10px 0}';\nhtml += '.ach-num{color:#1a3a5c;font-size:17px;font-weight:bold}';\nhtml += '.badge{background:#2980b9;color:#fff;padding:3px 12px;border-radius:12px;font-size:12px;margin-left:10px;vertical-align:middle}';\nhtml += '.files{color:#888;font-size:13px;margin:6px 0 14px 0}';\nhtml += '.row{display:grid;grid-template-columns:160px 1fr;gap:8px;margin:10px 0;padding:8px 0;border-bottom:1px solid #e9ecef}';\nhtml += '.row:last-child{border-bottom:none}';\nhtml += '.lbl{font-weight:bold;color:#555;font-size:14px;padding-top:2px}';\nhtml += '.val{color:#222;font-size:14px;white-space:pre-wrap}';\nhtml += '.summary{background:#e8f4fd;border:1px solid #bee3f8;padding:14px 18px;border-radius:4px;margin-bottom:24px;font-size:14px}';\nhtml += '.footer{color:#aaa;font-size:12px;margin-top:32px;padding-top:12px;border-top:1px solid #eee}';\nhtml += '</style></head><body>';\n\nhtml += '<h1>첨부7 정성보고서 초안</h1>';\nhtml += '<div class=\"meta\">선별 실적 ' + achievements.length + '건 | AI 자동 생성 초안 — 반드시 검토 후 사용</div>';\nhtml += '<button class=\"print-btn no-print\" onclick=\"window.print()\">🖨️ PDF로 저장 (인쇄)</button>';\n\nif (data.summary) {\n  html += '<div class=\"summary\">📌 ' + data.summary + '</div>';\n}\n\nachievements.forEach(function(ach, idx) {\n  var files = (ach.relatedFiles || []).join(' · ');\n  html += '<div class=\"achievement\">';\n  html += '<div class=\"ach-header\">';\n  html += '<span class=\"ach-num\">실적 ' + (idx + 1) + '. ' + (ach.title || '') + '</span>';\n  if (ach.type) html += '<span class=\"badge\">' + ach.type + '</span>';\n  html += '</div>';\n  if (files) html += '<div class=\"files\">📎 ' + files + '</div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진배경 및 목적</div><div class=\"val\">' + (ach.background || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진대상</div><div class=\"val\">' + (ach.target || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진내용</div><div class=\"val\">' + (ach.content || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진성과(기대효과)</div><div class=\"val\">' + (ach.outcome || '') + '</div></div>';\n  html += '</div>';\n});\n\nhtml += '<div class=\"footer\">본 초안은 AI가 생성한 것입니다. 담당자가 반드시 검토·수정 후 활용하시기 바랍니다.</div>';\nhtml += '</body></html>';\n\nreturn [{ json: { html: html, achievementCount: achievements.length, summary: data.summary || '' } }];"
        },
        "id": "node-html",
        "name": "HTML 생성",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2128,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst availableKeys = Object.keys(item.json || {});\nconst html = item.json.html;\n\nif (!html) {\n  throw new Error('html 키 없음. 사용 가능한 키: ' + availableKeys.join(', '));\n}\n\nconst 파일명 = item.json.파일명 || 'report';\nconst safeFileName = 파일명.replace(/[^a-zA-Z0-9가-힙_-]/g, '_');\n\nreturn [{\n  binary: {\n    data: {\n      data: Buffer.from(html, 'utf-8').toString('base64'),\n      mimeType: 'text/html',\n      fileName: `${safeFileName}_분석결과.html`\n    }\n  },\n  json: item.json\n}];"
        },
        "id": "66feb06f-ac23-4842-894c-5ae10bab141a",
        "name": "HTML 저장",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2272,
          352
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "1. AI 친화·고가치",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "584bd109-de5c-4a19-9f40-a921c2e1de92"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "2. 공공데이터 활용도 제고",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "60219518-c6c8-40aa-94bb-e417e1641ed2"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_2"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "3. AI 도입·활용 사례",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "3bd8ca45-16f4-4142-b6c4-2377aebfe170"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_3"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "4. 데이터기반행정 활용도 제고",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b969a845-3315-432d-98f7-42e9c002373d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_4"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "5. 공유데이터 제공 노력",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a86f3684-1134-4aeb-aca8-7b92d344d0f1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_5"
              }
            ]
          },
          "options": {}
        },
        "id": "ad749041-51d5-4f1f-a2c2-623addffabbe",
        "name": "지표별 분류",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          496,
          320
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "기관명: {{ $json.agencyName }}\n\n【⚠️ 실적 수 확인 — 반드시 준수】\n본체 파일 수: {{ $json.mainFileCount }}개\n보조자료 파일 수: {{ $json.supportFileCount }}개\n\n당신이 반드시 작성해야 할 실적: 정확히 {{ $json.mainFileCount }}건\n\n본체 파일 목록 (각 파일 = 각 실적 1건):\n{{ $json.mainFileList }}\n\n위 목록의 본체 파일이 {{ $json.mainFileCount }}개이면 실적도 반드시 {{ $json.mainFileCount }}건입니다. 어떤 파일도 빠뜨리지 마세요.\n\n【업로드된 파일 내용】\n{{ $json.fileListText }}\n\n위 파일들을 분석하여 첨부7 정성보고서 초안을 작성해주세요.\n- 본체 파일 {{ $json.mainFileCount }}개 = 실적 {{ $json.mainFileCount }}건. 절대 빠뜨리지 마세요.\n- 파일 안의 내용이 아닌, 파일로 대표되는 제작·배포 활동이 실적입니다.\n- 계획서(보조자료)는 실적으로 세지 말고, 배경·내용 파악에만 활용하세요.",
          "options": {
            "systemMessage": "당신은 데이터기반행정 활성화 평가 정성보고서(첨부7) 작성 전문가입니다.\n\n【⚠️ 절대 규칙 — 실적이란 무엇인가】\n1. 실적(추진실적) = 업로드된 파일이 나타내는 제작물·활동 자체입니다.\n   - 카드뉴스 PDF/이미지 → 실적: \"카드뉴스 제작·배포\"\n   - 포스터 PDF → 실적: \"분석결과 포스터 제작·배포\"\n   - 교육자료 PDF → 실적: \"○○ 교육 실시\"\n2. 파일 안의 내용(카드뉴스에 담긴 설명, 포스터에 표시된 수치)은 실적이 아닙니다.\n3. 선별하지 마세요. 본체 파일 수 = 실적 수. 올라온 것은 전부 작성합니다.\n4. 한 파일 = 한 실적. 한 파일에서 여러 실적을 파생시키지 마세요.\n5. 계획서·계획(안)은 배경·내용 파악에만 활용. 별도 실적이 아닙니다.\n\n【지표 설명】\n지표 3-3-3. 활성화 제고를 위한 다양한 노력\n∎ 기관에서 데이터기반행정을 활성화하기 위해 추진한 다양한 시책 노력을 8점 만점 기준으로 정성 평가\n\n【실적 유형 분류표】\n유형 1. 데이터 분석·활용 역량진단 결과의 활용\n  예시: 역량진단 결과를 활용한 인력 재배치, 개선계획 수립 및 실적점검\n\n유형 2. 기반조성\n  예시: 법·규정 정비·절차·제도 개선, 전담부서 인력 충원·예산확보, 성과지표에 분석결과 활용 지표 신설\n\n유형 3. 문화조성 및 성과확산\n  예시: 공모전·경진대회·설명회 등 행사, 카드뉴스·포스터 제작·배포, 우수사례 공유회, 보도자료 배포\n\n유형 4. AI·데이터 전문인력 양성\n  예시: 자체 교육과정 개발·운영, 전문인력 채용, 자격증 취득 지원\n\n유형 5. 기타\n  예시: 기관·데이터 특성을 고려한 기타 노력\n\n【파일 그룹화 규칙】\n- 【본체 파일】: 실적 자체인 파일 (카드뉴스, 포스터, 교육 결과물, 행사 결과물 등)\n  → 본체 파일 1개 = 실적 1건\n- 【보조 자료 파일】: 계획서·계획(안)·결과요약서 등 실적을 설명하는 문서\n  → 실적 수에 포함하지 않음. 동일 주제 본체 파일의 배경·내용 파악에만 활용\n- 보조 자료만 있고 본체가 없으면: 보조 자료 1개 = 실적 1건으로 처리\n\n【각 항목 작성 기준 — 반드시 이 기준으로만 작성】\n\n▶ 실적명\n- 파일명에서 기관명을 제거한 핵심 제작물명·활동명\n- 예) \"데이터기반행정 카드뉴스\", \"분석결과 포스터\"\n\n▶ 추진배경 및 목적\n- 이 제작물·활동을 기획하게 된 배경(문제 인식, 필요성)과 달성하려는 목적\n- 계획서(보조자료)에 배경·목적 내용이 있으면 그대로 활용\n- 계획서 없으면 제작물 성격(홍보, 교육, 인식 제고 등)과 지표 맥락에서 추론\n- ❌ 파일 안의 데이터·수치·세부 내용을 나열하지 말 것\n\n▶ 추진대상\n- 이 활동의 수혜자·배포 대상·교육 대상\n- 파일에 명시된 경우 그대로 기재, 없으면 맥락에서 추론(내부 직원, 관련 기관 등)\n\n▶ 추진내용\n- 무엇을(제작물명·활동명 포함) + 어떻게 했는지(제작 방식·배포 방식·실시 방법)\n- 예) \"데이터기반행정 소개, 사례, 추진 전략 등의 내용을 담은 카드뉴스를 제작하여 전부서에 배포\"\n- 예) \"2025년 공공데이터 활용도 분석 결과를 인포그래픽 형식의 포스터로 제작하여 전부서에 배포\"\n- 계획서에 구체적인 제작 대상·추진 방식이 있으면 반드시 활용\n- ❌ 파일 내부의 세부 데이터·항목 목록을 나열하지 말 것\n\n▶ 추진성과(기대효과)\n- 이 제작·배포·실시 활동이 가져온 또는 기대되는 효과\n- 예) 내부 구성원의 인지도 제고와 자발적 참여 유도, 데이터기반행정 문화 정착 도모\n- 예) 기관 데이터 분석 성과를 홍보하여 내부 구성원의 이해도와 참여 의지를 높이고 데이터 기반 의사결정 문화 정착\n- ❌ 파일 내 데이터·수치 나열 금지\n\n【⚠️ 출력 형식 — 절대 준수】\n- 반드시 순수 JSON 객체만 출력하세요.\n- 절대로 ```json 코드블록, 마크다운, 설명 텍스트, 주석을 포함하지 마세요.\n- 첫 글자는 반드시 { 이어야 하고 마지막 글자는 반드시 } 이어야 합니다.\n- JSON 외 어떠한 문자도 앞뒤에 출력하지 마세요."
          }
        },
        "id": "node-agent",
        "name": "실적 분류 & 초안 작성",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          1712,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "{\"type\":\"object\",\"properties\":{\"achievements\":{\"type\":\"array\",\"description\":\"작성된 실적 목록. 본체 파일 수와 동일한 수로 작성. 선별하지 말고 전부 작성.\",\"items\":{\"type\":\"object\",\"properties\":{\"achievementNumber\":{\"type\":\"number\",\"description\":\"실적 번호 (1부터 시작)\"},\"type\":{\"type\":\"string\",\"description\":\"실적 유형 (역량진단 결과 활용/기반조성/문화조성 및 성과확산/AI·데이터 전문인력 양성/기타)\"},\"title\":{\"type\":\"string\",\"description\":\"실적 제목 (파일명 기반 핵심 제작물명·활동명)\"},\"relatedFiles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"이 실적에 해당하는 파일명 목록 (본체+보조자료 포함)\"},\"background\":{\"type\":\"string\",\"description\":\"추진배경 및 목적\"},\"target\":{\"type\":\"string\",\"description\":\"추진대상\"},\"content\":{\"type\":\"string\",\"description\":\"추진내용\"},\"outcome\":{\"type\":\"string\",\"description\":\"추진성과(기대효과)\"}},\"required\":[\"achievementNumber\",\"type\",\"title\",\"relatedFiles\",\"background\",\"target\",\"content\",\"outcome\"]}},\"summary\":{\"type\":\"string\",\"description\":\"전체 실적 요약 (1~2문장)\"}},\"required\":[\"achievements\",\"summary\"]}"
        },
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          1856,
          528
        ],
        "id": "13c3b19f-4cd4-45b8-9aac-d6882e03b214",
        "name": "초안 출력 파서"
      },
      {
        "parameters": {
          "formTitle": "PDF 업로드",
          "formDescription": "증적자료 업로드",
          "formFields": {
            "values": [
              {
                "fieldLabel": "기관명을 입력하세요",
                "requiredField": true
              },
              {
                "fieldLabel": "증적자료를 업로드하세요",
                "fieldType": "file",
                "acceptFileTypes": ".pdf",
                "requiredField": true
              },
              {
                "fieldLabel": "지표 선택",
                "fieldType": "dropdown",
                "defaultValue": "지표를 선택하세요",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "1. AI 친화·고가치"
                    },
                    {
                      "option": "2. 공공데이터 활용도 제고"
                    },
                    {
                      "option": "3. AI 도입·활용 사례"
                    },
                    {
                      "option": "4. 데이터기반행정 활용도 제고"
                    },
                    {
                      "option": "5. 공유데이터 제공 노력"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "8cae2558-798e-403f-bc34-6790a72192b0",
        "name": "자료 업로드",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          288,
          368
        ],
        "webhookId": "1061e240-55af-48fd-a1c3-a6807b55ca7e"
      },
      {
        "parameters": {
          "content": "### 2. PDF 텍스트 추출",
          "height": 416,
          "width": 806,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          672,
          224
        ],
        "id": "53b56df4-31a6-4e35-bee7-099246316d4a",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "### 3. 분석, 초안 작성",
          "height": 416,
          "width": 502,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1504,
          224
        ],
        "id": "66e55689-5c71-4ec2-8239-8999b3b23f97",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "content": "### 4. 결과 출력",
          "height": 416,
          "width": 502,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2016,
          224
        ],
        "id": "1aec9b5f-167d-4c7e-bd67-4aea5a0d9437",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "content": "### 1. 사용자 입력\n* 설명 \n: 활성화 제고 노력 실적 업로드 및 사용자 평가지표 입력\n",
          "height": 416,
          "width": 454,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          496,
          1056
        ],
        "id": "c51a349c-c458-4a69-950f-678d86dd5077",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "jsCode": "const inputItem = $input.first();\n\n// 실제 폼 필드명으로 접근\nconst agencyName = inputItem.json['기관명을 입력하세요'] || '';\nconst uploadedFiles = inputItem.json['증적자료를 업로드하세요'] || [];\nconst binary = inputItem.binary || {};\nconst binaryKeys = Object.keys(binary);\n\nif (uploadedFiles.length === 0) throw new Error('업로드된 파일이 없습니다.');\n\nconst items = [];\nfor (let i = 0; i < uploadedFiles.length; i++) {\n  const binaryKey = binaryKeys[i];\n  if (!binaryKey) continue;\n  items.push({\n    json: {\n      fileIndex: i,\n      filename: uploadedFiles[i].filename,\n      agencyName,\n      totalFiles: uploadedFiles.length\n    },\n    binary: { data: binary[binaryKey] }\n  });\n}\n\nif (items.length === 0) throw new Error('바이너리 데이터를 찾을 수 없습니다.');\nreturn items;"
        },
        "id": "a69bbebe-918b-4f54-8d66-d1c7e4ceeecd",
        "name": "파일 정규화1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          1184
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?uploadType=media",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {
            "timeout": 120000
          }
        },
        "id": "1b4a1835-02ea-460c-b5e3-9283f822175a",
        "name": "Gemini 파일 업로드1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1120,
          1184
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Gemini Files API 응답에서 file_uri 추출 + generateContent 요청 바디 조립\nconst results = [];\nconst uploadResults = $input.all();\nconst originalItems = $('파일 정규화1').all();\n\nfor (let i = 0; i < uploadResults.length; i++) {\n  const uploadItem = uploadResults[i];\n  const originalItem = originalItems[i] || { json: {} };\n\n  const fileUri = uploadItem.json?.file?.uri;\n  const filename = originalItem.json.filename || `file_${i + 1}.pdf`;\n  const fileIndex = originalItem.json.fileIndex ?? i;\n  const agencyName = originalItem.json.agencyName ?? '';\n\n  if (!fileUri) {\n    throw new Error(`[${filename}] 파일 업로드 응답에 URI가 없습니다. 응답: ${JSON.stringify(uploadItem.json)}`);\n  }\n\n  const geminiRequestBody = {\n    contents: [{\n      parts: [\n        { file_data: { mime_type: 'application/pdf', file_uri: fileUri } },\n        { text: `파일명: \"${filename}\"\\n\\n이 PDF 파일의 전체 내용을 텍스트로 상세히 추출해주세요.\\n- 표가 있으면 표의 내용을 텍스트로 정리해주세요.\\n- 이미지·그래픽이 있으면 그 내용과 의미를 설명해주세요.\\n- 원문에 충실하게 추출하되, 레이아웃·페이지 구분 마크업은 생략해도 됩니다.\\n- 최대한 완전하게 추출해주세요.` }\n      ]\n    }],\n    generationConfig: { maxOutputTokens: 8192 }\n  };\n\n  results.push({ json: { fileIndex, filename, agencyName, fileUri, geminiRequestBody } });\n}\n\nreturn results;"
        },
        "id": "e3dc1b85-fed2-4b9e-86a0-cb36881f521c",
        "name": "Gemini 요청 조립1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1264,
          1184
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.geminiRequestBody }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "9a0f5328-bcd2-467f-8766-cb26e32ab66a",
        "name": "Gemini 내용 생성1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          1184
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => {\n  const filename = item.json.filename ?? '파일명 없음';\n  const candidates = item.json.candidates;\n  let extractedText = '';\n  if (candidates?.[0]?.content?.parts?.[0]?.text) {\n    extractedText = candidates[0].content.parts[0].text;\n  }\n  const supportKeywords = ['계획서','계획(안)','계획안','결과요약서','결과보고서','보고서(안)','보조자료','공문','지침','가이드','증빙'];\n  const isSupport = supportKeywords.some(kw => filename.includes(kw));\n  return {\n    json: {\n      fileIndex: item.json.fileIndex ?? 0,\n      filename,\n      agencyName: item.json.agencyName ?? '',\n      role: isSupport ? 'support' : 'main',\n      text: extractedText.trim().substring(0, 15000)\n    }\n  };\n});"
        },
        "id": "deefa343-515d-42ee-94a0-22305734027d",
        "name": "파일 텍스트 정리1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          1184
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "files",
          "options": {}
        },
        "id": "15dc3f7f-a11c-48c0-8200-7d3fed7dd6b8",
        "name": "전체 취합1",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1632,
          1184
        ]
      },
      {
        "parameters": {
          "jsCode": "const inputData = $input.first().json;\nconst files = inputData.files || [];\nconst agencyName = (files[0] || {}).agencyName || '';\nconst mainFiles = files.filter(f => f.role === 'main');\nconst supportFiles = files.filter(f => f.role === 'support');\nconst mainText = mainFiles.length > 0\n  ? '【주요 실적 파일 (본체 — 카드뉴스, 포스터, 교육결과물 등 실적 자체)】\\n' +\n    mainFiles.map((f, i) => '[본체파일 ' + (i+1) + '] ' + f.filename + '\\n' + (f.text || '(내용 없음)')).join('\\n\\n---\\n\\n')\n  : '';\nconst supportText = supportFiles.length > 0\n  ? '\\n\\n【보조 자료 파일 (계획서·계획(안)·결과요약서 등 실적을 설명하는 자료)】\\n' +\n    supportFiles.map((f, i) => '[보조파일 ' + (i+1) + '] ' + f.filename + '\\n' + (f.text || '(내용 없음)')).join('\\n\\n---\\n\\n')\n  : '';\nreturn [{ json: { agencyName, fileCount: files.length, mainFileCount: mainFiles.length, supportFileCount: supportFiles.length, fileListText: (mainText + supportText).substring(0, 50000) } }];"
        },
        "id": "e62bc892-4e79-4a4d-b1d2-d2f17a73d662",
        "name": "분류 준비1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1840,
          1184
        ]
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {
            "maxOutputTokens": 8000
          }
        },
        "id": "e92ed1f6-3a36-483b-aaba-6c85aa3997c5",
        "name": "Google Gemini (Agent용)1",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          1920,
          1328
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "기관명: {{ $json.agencyName }}\n전체 파일 수: {{ $json.fileCount }}개 (본체 {{ $json.mainFileCount }}개 / 보조자료 {{ $json.supportFileCount }}개)\n\n【실적 수 확인】\n본체 파일이 {{ $json.mainFileCount }}개이므로, 실적을 반드시 {{ $json.mainFileCount }}건 작성하세요.\n보조자료만 있고 본체가 없으면 보조자료 수만큼 작성하세요.\n선별하거나 줄이지 마세요. 올라온 파일 전부 작성합니다.\n\n【업로드된 파일 내용】\n{{ $json.fileListText }}\n\n위 파일들을 분석하여 첨부7 정성보고서 초안을 작성해주세요.\n- 본체 파일 1개 = 실적 1건. 빠짐없이 전부 작성하세요.\n- 파일 안의 내용이 아닌, 파일로 대표되는 제작·배포 활동이 실적입니다.\n- 계획서(보조자료)는 실적으로 세지 말고, 같은 실적의 배경·내용 파악에만 활용하세요.",
          "options": {
            "systemMessage": "당신은 데이터기반행정 활성화 평가 정성보고서(첨부7) 작성 전문가입니다.\n\n【⚠️ 절대 규칙 — 실적이란 무엇인가】\n1. 실적(추진실적) = 업로드된 파일이 나타내는 제작물·활동 자체입니다.\n   - 카드뉴스 PDF/이미지 → 실적: \"카드뉴스 제작·배포\"\n   - 포스터 PDF → 실적: \"분석결과 포스터 제작·배포\"\n   - 교육자료 PDF → 실적: \"○○ 교육 실시\"\n2. 파일 안의 내용(카드뉴스에 담긴 설명, 포스터에 표시된 수치)은 실적이 아닙니다.\n3. 선별하지 마세요. 본체 파일 수 = 실적 수. 올라온 것은 전부 작성합니다.\n4. 한 파일 = 한 실적. 한 파일에서 여러 실적을 파생시키지 마세요.\n5. 계획서·계획(안)은 배경·내용 파악에만 활용. 별도 실적이 아닙니다.\n\n【지표 설명】\n지표 3-3-3. 활성화 제고를 위한 다양한 노력\n∎ 기관에서 데이터기반행정을 활성화하기 위해 추진한 다양한 시책 노력을 8점 만점 기준으로 정성 평가\n\n【실적 유형 분류표】\n유형 1. 데이터 분석·활용 역량진단 결과의 활용\n  예시: 역량진단 결과를 활용한 인력 재배치, 개선계획 수립 및 실적점검\n\n유형 2. 기반조성\n  예시: 법·규정 정비·절차·제도 개선, 전담부서 인력 충원·예산확보, 성과지표에 분석결과 활용 지표 신설\n\n유형 3. 문화조성 및 성과확산\n  예시: 공모전·경진대회·설명회 등 행사, 카드뉴스·포스터 제작·배포, 우수사례 공유회, 보도자료 배포\n\n유형 4. AI·데이터 전문인력 양성\n  예시: 자체 교육과정 개발·운영, 전문인력 채용, 자격증 취득 지원\n\n유형 5. 기타\n  예시: 기관·데이터 특성을 고려한 기타 노력\n\n【파일 그룹화 규칙】\n- 【본체 파일】: 실적 자체인 파일 (카드뉴스, 포스터, 교육 결과물, 행사 결과물 등)\n  → 본체 파일 1개 = 실적 1건\n- 【보조 자료 파일】: 계획서·계획(안)·결과요약서 등 실적을 설명하는 문서\n  → 실적 수에 포함하지 않음. 동일 주제 본체 파일의 배경·내용 파악에만 활용\n- 보조 자료만 있고 본체가 없으면: 보조 자료 1개 = 실적 1건으로 처리\n\n【각 항목 작성 기준 — 반드시 이 기준으로만 작성】\n\n▶ 실적명\n- 파일명에서 기관명을 제거한 핵심 제작물명·활동명\n- 예) \"데이터기반행정 카드뉴스\", \"분석결과 포스터\"\n\n▶ 추진배경 및 목적\n- 이 제작물·활동을 기획하게 된 배경(문제 인식, 필요성)과 달성하려는 목적\n- 계획서(보조자료)에 배경·목적 내용이 있으면 그대로 활용\n- 계획서 없으면 제작물 성격(홍보, 교육, 인식 제고 등)과 지표 맥락에서 추론\n- ❌ 파일 안의 데이터·수치·세부 내용을 나열하지 말 것\n\n▶ 추진대상\n- 이 활동의 수혜자·배포 대상·교육 대상\n- 파일에 명시된 경우 그대로 기재, 없으면 맥락에서 추론(내부 직원, 관련 기관 등)\n\n▶ 추진내용\n- 무엇을(제작물명·활동명 포함) + 어떻게 했는지(제작 방식·배포 방식·실시 방법)\n- 예) \"데이터기반행정 소개, 사례, 추진 전략 등의 내용을 담은 카드뉴스를 제작하여 전부서에 배포\"\n- 예) \"2025년 공공데이터 활용도 분석 결과를 인포그래픽 형식의 포스터로 제작하여 전부서에 배포\"\n- 계획서에 구체적인 제작 대상·추진 방식이 있으면 반드시 활용\n- ❌ 파일 내부의 세부 데이터·항목 목록을 나열하지 말 것\n\n▶ 추진성과(기대효과)\n- 이 제작·배포·실시 활동이 가져온 또는 기대되는 효과\n- 예) 내부 구성원의 인지도 제고와 자발적 참여 유도, 데이터기반행정 문화 정착 도모\n- 예) 기관 데이터 분석 성과를 홍보하여 내부 구성원의 이해도와 참여 의지를 높이고 데이터 기반 의사결정 문화 정착\n- ❌ 파일 내 데이터·수치 나열 금지\n\n【⚠️ 출력 형식 — 절대 준수】\n- 반드시 순수 JSON 객체만 출력하세요.\n- 절대로 ```json 코드블록, 마크다운, 설명 텍스트, 주석을 포함하지 마세요.\n- 첫 글자는 반드시 { 이어야 하고 마지막 글자는 반드시 } 이어야 합니다.\n- JSON 외 어떠한 문자도 앞뒤에 출력하지 마세요."
          }
        },
        "id": "6a9d07b2-e574-491e-970b-8b0288dfb2bb",
        "name": "실적 분류 & 초안 작성1",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          2000,
          1184
        ]
      },
      {
        "parameters": {
          "jsCode": "{\"type\":\"object\",\"properties\":{\"achievements\":{\"type\":\"array\",\"description\":\"작성된 실적 목록. 본체 파일 수와 동일한 수로 작성. 선별하지 말고 전부 작성.\",\"items\":{\"type\":\"object\",\"properties\":{\"achievementNumber\":{\"type\":\"number\",\"description\":\"실적 번호 (1부터 시작)\"},\"type\":{\"type\":\"string\",\"description\":\"실적 유형 (역량진단 결과 활용/기반조성/문화조성 및 성과확산/AI·데이터 전문인력 양성/기타)\"},\"title\":{\"type\":\"string\",\"description\":\"실적 제목 (파일명 기반 핵심 제작물명·활동명)\"},\"relatedFiles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"},\"description\":\"이 실적에 해당하는 파일명 목록 (본체+보조자료 포함)\"},\"background\":{\"type\":\"string\",\"description\":\"추진배경 및 목적\"},\"target\":{\"type\":\"string\",\"description\":\"추진대상\"},\"content\":{\"type\":\"string\",\"description\":\"추진내용\"},\"outcome\":{\"type\":\"string\",\"description\":\"추진성과(기대효과)\"}},\"required\":[\"achievementNumber\",\"type\",\"title\",\"relatedFiles\",\"background\",\"target\",\"content\",\"outcome\"]}},\"summary\":{\"type\":\"string\",\"description\":\"전체 실적 요약 (1~2문장)\"}},\"required\":[\"achievements\",\"summary\"]}"
        },
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          2144,
          1360
        ],
        "id": "59de32a6-f05e-496b-9701-1204c2d78eca",
        "name": "초안 출력 파서1"
      },
      {
        "parameters": {
          "jsCode": "const outputRaw = $input.first().json.output;\n\nfunction extractJSON(str) {\n  if (typeof str !== 'string') return str;\n  const fenceMatch = str.match(/```json[\\s\\S]*?({[\\s\\S]*?})[\\s\\S]*?```/);\n  if (fenceMatch) return fenceMatch[1].trim();\n  const fenceMatch2 = str.match(/```[\\s\\S]*?({[\\s\\S]*?})[\\s\\S]*?```/);\n  if (fenceMatch2) return fenceMatch2[1].trim();\n  const firstBrace = str.indexOf('{');\n  const lastBrace = str.lastIndexOf('}');\n  if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n    return str.substring(firstBrace, lastBrace + 1).trim();\n  }\n  return str.trim();\n}\n\nfunction normalizeData(raw) {\n  if (!raw) return { achievements: [], summary: '' };\n  if (Array.isArray(raw.achievements) && raw.achievements.length > 0) return raw;\n  const src = raw.report || raw.results || raw['실적'] || [];\n  const achievements = src.map(function(item, i) {\n    var bg = item.background || item.backgroundAndPurpose || item['추진배경'] || item['추진배경및목적'] || '';\n    if (item.purpose && !bg.includes(item.purpose)) bg = (bg + '\\n\\n■ 목적: ' + item.purpose).trim();\n    return {\n      achievementNumber: item.achievementNumber || item.number || (i + 1),\n      type: item.type || item['유형'] || '기타',\n      title: item.title || item['제목'] || item.name || '',\n      relatedFiles: item.relatedFiles || item.files || [],\n      background: bg,\n      target: item.target || item['추진대상'] || '',\n      content: item.content || item['추진내용'] || '',\n      outcome: item.outcome || item.result || item.achievementAndExpectedEffect || item.achievementResult || item['추진성과'] || item['기대효과'] || ''\n    };\n  });\n  return { achievements, summary: raw.summary || ('접수된 파일을 분석하여 선별한 대표 실적 ' + achievements.length + '건입니다.') };\n}\n\nvar data;\ntry {\n  var cleaned = extractJSON(outputRaw);\n  data = normalizeData(JSON.parse(cleaned));\n} catch(e) {\n  data = { achievements: [], summary: '⚠️ 출력 파싱 실패. n8n 실행 로그를 확인해주세요. (' + String(e.message) + ')\\n\\n[원본 출력 앞 500자]\\n' + String(outputRaw || '').substring(0, 500) };\n}\n\nvar achievements = data.achievements || [];\nvar html = '<!DOCTYPE html><html lang=\"ko\"><head><meta charset=\"UTF-8\"><title>첨부7 정성보고서 초안</title>';\nhtml += '<style>';\nhtml += '@media print { .no-print { display: none !important; } body { margin: 0; } .achievement { page-break-inside: avoid; } }';\nhtml += 'body{font-family:\"Malgun Gothic\",sans-serif;max-width:960px;margin:20px auto;padding:24px;line-height:1.7;color:#222}';\nhtml += 'h1{color:#1a3a5c;border-bottom:3px solid #2980b9;padding-bottom:12px;margin-bottom:6px}';\nhtml += '.meta{color:#666;font-size:14px;margin-bottom:8px}';\nhtml += '.print-btn{display:inline-block;background:#2980b9;color:#fff;padding:8px 20px;border-radius:4px;cursor:pointer;border:none;font-size:14px;margin-bottom:20px;font-family:inherit}';\nhtml += '.achievement{background:#f8f9fa;border-left:5px solid #2980b9;margin:28px 0;padding:20px 24px;border-radius:4px}';\nhtml += '.ach-header{margin:0 0 10px 0}';\nhtml += '.ach-num{color:#1a3a5c;font-size:17px;font-weight:bold}';\nhtml += '.badge{background:#2980b9;color:#fff;padding:3px 12px;border-radius:12px;font-size:12px;margin-left:10px;vertical-align:middle}';\nhtml += '.files{color:#888;font-size:13px;margin:6px 0 14px 0}';\nhtml += '.row{display:grid;grid-template-columns:160px 1fr;gap:8px;margin:10px 0;padding:8px 0;border-bottom:1px solid #e9ecef}';\nhtml += '.row:last-child{border-bottom:none}';\nhtml += '.lbl{font-weight:bold;color:#555;font-size:14px;padding-top:2px}';\nhtml += '.val{color:#222;font-size:14px;white-space:pre-wrap}';\nhtml += '.summary{background:#e8f4fd;border:1px solid #bee3f8;padding:14px 18px;border-radius:4px;margin-bottom:24px;font-size:14px}';\nhtml += '.footer{color:#aaa;font-size:12px;margin-top:32px;padding-top:12px;border-top:1px solid #eee}';\nhtml += '</style></head><body>';\nhtml += '<h1>첨부7 정성보고서 초안</h1>';\nhtml += '<div class=\"meta\">선별 실적 ' + achievements.length + '건 | AI 자동 생성 초안 — 반드시 검토 후 사용</div>';\nhtml += '<button class=\"print-btn no-print\" onclick=\"window.print()\">🖨️ PDF로 저장 (인쇄)</button>';\nif (data.summary) { html += '<div class=\"summary\">📌 ' + data.summary + '</div>'; }\nachievements.forEach(function(ach, idx) {\n  var files = (ach.relatedFiles || []).join(' · ');\n  html += '<div class=\"achievement\">';\n  html += '<div class=\"ach-header\">';\n  html += '<span class=\"ach-num\">실적 ' + (idx + 1) + '. ' + (ach.title || '') + '</span>';\n  if (ach.type) html += '<span class=\"badge\">' + ach.type + '</span>';\n  html += '</div>';\n  if (files) html += '<div class=\"files\">📎 ' + files + '</div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진배경 및 목적</div><div class=\"val\">' + (ach.background || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진대상</div><div class=\"val\">' + (ach.target || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진내용</div><div class=\"val\">' + (ach.content || '') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진성과(기대효과)</div><div class=\"val\">' + (ach.outcome || '') + '</div></div>';\n  html += '</div>';\n});\nhtml += '<div class=\"footer\">본 초안은 AI가 생성한 것입니다. 담당자가 반드시 검토·수정 후 활용하시기 바랍니다.</div>';\nhtml += '</body></html>';\nreturn [{ json: { html, achievementCount: achievements.length, summary: data.summary || '' } }];"
        },
        "id": "8e82945d-4fda-4987-bbe5-969517f532f7",
        "name": "HTML 생성1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2416,
          1184
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst availableKeys = Object.keys(item.json || {});\nconst html = item.json.html;\nif (!html) { throw new Error('html 키 없음. 사용 가능한 키: ' + availableKeys.join(', ')); }\nconst 파일명 = item.json.파일명 || 'report';\nconst safeFileName = 파일명.replace(/[^a-zA-Z0-9가-힙_-]/g, '_');\nreturn [{\n  binary: { data: { data: Buffer.from(html, 'utf-8').toString('base64'), mimeType: 'text/html', fileName: `${safeFileName}_분석결과.html` } },\n  json: item.json\n}];"
        },
        "id": "a7e1651e-6141-4633-972b-0a01a0d636c5",
        "name": "HTML 저장1",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2560,
          1184
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "1. AI 친화·고가치",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "584bd109-de5c-4a19-9f40-a921c2e1de92"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "2. 공공데이터 활용도 제고",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "60219518-c6c8-40aa-94bb-e417e1641ed2"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_2"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "3. AI 도입·활용 사례",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "3bd8ca45-16f4-4142-b6c4-2377aebfe170"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_3"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "4. 데이터기반행정 활용도 제고",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b969a845-3315-432d-98f7-42e9c002373d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_4"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "5. 공유데이터 제공 노력",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a86f3684-1134-4aeb-aca8-7b92d344d0f1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_5"
              }
            ]
          },
          "options": {}
        },
        "id": "fea78cbd-c4c0-4cdb-ae5d-5826aa0a574f",
        "name": "지표별 분류1",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          784,
          1152
        ]
      },
      {
        "parameters": {
          "formTitle": "PDF 업로드",
          "formDescription": "증적자료 업로드",
          "formFields": {
            "values": [
              {
                "fieldLabel": "기관명을 입력하세요",
                "requiredField": true
              },
              {
                "fieldLabel": "증적자료를 업로드하세요",
                "fieldType": "file",
                "acceptFileTypes": ".pdf",
                "requiredField": true
              },
              {
                "fieldLabel": "지표 선택",
                "fieldType": "dropdown",
                "defaultValue": "지표를 선택하세요",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "1. AI 친화·고가치"
                    },
                    {
                      "option": "2. 공공데이터 활용도 제고"
                    },
                    {
                      "option": "3. AI 도입·활용 사례"
                    },
                    {
                      "option": "4. 데이터기반행정 활용도 제고"
                    },
                    {
                      "option": "5. 공유데이터 제공 노력"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "0b469630-a6b0-4d56-8a95-1c3814c81eac",
        "name": "자료 업로드1",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          576,
          1200
        ],
        "webhookId": "d952eef7-521a-4345-81cf-3327762bf680"
      },
      {
        "parameters": {
          "content": "### 2. PDF 텍스트 추출",
          "height": 416,
          "width": 806,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          960,
          1056
        ],
        "id": "71d1c57e-e193-497b-b700-04235d9a521a",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "### 3. 분석, 초안 작성",
          "height": 416,
          "width": 502,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1792,
          1056
        ],
        "id": "5ff2248c-3001-4f53-a99e-f2a37ca4234c",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "### 4. 결과 출력",
          "height": 416,
          "width": 502,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2304,
          1056
        ],
        "id": "dc4a14d6-dfd4-4ebd-a86e-2e782c667ec1",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "content": "### 1. 사용자 입력\n* 설명 \n: 활성화 제고 노력 실적 업로드 및 사용자 평가지표 입력\n",
          "height": 416,
          "width": 454,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1056,
          1872
        ],
        "id": "4247649a-939d-429d-84bc-8c2dd1cb085f",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "jsCode": "const inputItem = $input.first();\nconst agencyName = inputItem.json['기관명을 입력하세요'] || '';\nconst uploadedFiles = inputItem.json['증적자료를 업로드하세요'] || [];\nconst binary = inputItem.binary || {};\nconst binaryKeys = Object.keys(binary);\nif (uploadedFiles.length === 0) throw new Error('업로드된 파일이 없습니다.');\nconst items = [];\nfor (let i = 0; i < uploadedFiles.length; i++) {\n  const binaryKey = binaryKeys[i];\n  if (!binaryKey) continue;\n  items.push({ json: { fileIndex: i, filename: uploadedFiles[i].filename, agencyName, totalFiles: uploadedFiles.length }, binary: { data: binary[binaryKey] } });\n}\nif (items.length === 0) throw new Error('바이너리 데이터를 찾을 수 없습니다.');\nreturn items;"
        },
        "id": "d305207a-2d23-46ef-b696-d8ee5ac5ad0b",
        "name": "파일 정규화2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          2000
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/upload/v1beta/files?uploadType=media",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendBody": true,
          "contentType": "binaryData",
          "inputDataFieldName": "data",
          "options": {
            "timeout": 120000
          }
        },
        "id": "b4f70081-743c-486f-a087-7a8208fc5d17",
        "name": "Gemini 파일 업로드2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          2000
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const results = [];\nconst uploadResults = $input.all();\nconst originalItems = $('파일 정규화2').all();\nfor (let i = 0; i < uploadResults.length; i++) {\n  const uploadItem = uploadResults[i];\n  const originalItem = originalItems[i] || { json: {} };\n  const fileUri = uploadItem.json?.file?.uri;\n  const filename = originalItem.json.filename || `file_${i + 1}.pdf`;\n  const fileIndex = originalItem.json.fileIndex ?? i;\n  const agencyName = originalItem.json.agencyName ?? '';\n  if (!fileUri) throw new Error(`[${filename}] 파일 업로드 응답에 URI가 없습니다. 응답: ${JSON.stringify(uploadItem.json)}`);\n  const geminiRequestBody = {\n    contents: [{ parts: [\n      { file_data: { mime_type: 'application/pdf', file_uri: fileUri } },\n      { text: `파일명: \"${filename}\"\\n\\n이 PDF 파일의 전체 내용을 텍스트로 상세히 추출해주세요.\\n- 표가 있으면 표의 내용을 텍스트로 정리해주세요.\\n- 이미지·그래픽이 있으면 그 내용과 의미를 설명해주세요.\\n- 원문에 충실하게 추출하되, 레이아웃·페이지 구분 마크업은 생략해도 됩니다.\\n- 최대한 완전하게 추출해주세요.` }\n    ]}],\n    generationConfig: { maxOutputTokens: 8192 }\n  };\n  results.push({ json: { fileIndex, filename, agencyName, fileUri, geminiRequestBody } });\n}\nreturn results;"
        },
        "id": "e5c7e45a-48f6-46c8-bfcc-1d32c60cec55",
        "name": "Gemini 요청 조립2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1824,
          2000
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googlePalmApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ $json.geminiRequestBody }}",
          "options": {
            "timeout": 60000
          }
        },
        "id": "287f795f-a5d6-4a1f-aa4d-f3378a1445c3",
        "name": "Gemini 내용 생성2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1952,
          2000
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => {\n  const filename = item.json.filename ?? '파일명 없음';\n  const candidates = item.json.candidates;\n  let extractedText = '';\n  if (candidates?.[0]?.content?.parts?.[0]?.text) extractedText = candidates[0].content.parts[0].text;\n  const supportKeywords = ['계획서','계획(안)','계획안','결과요약서','결과보고서','보고서(안)','보조자료','공문','지침','가이드','증빙'];\n  const isSupport = supportKeywords.some(kw => filename.includes(kw));\n  return { json: { fileIndex: item.json.fileIndex ?? 0, filename, agencyName: item.json.agencyName ?? '', role: isSupport ? 'support' : 'main', text: extractedText.trim().substring(0, 15000) } };\n});"
        },
        "id": "3849811d-1faa-449d-b3df-724cd3a7eb5d",
        "name": "파일 텍스트 정리2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2080,
          2000
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "files",
          "options": {}
        },
        "id": "94adf42c-7873-43df-8d98-62e6681b7bfb",
        "name": "전체 취합2",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          2192,
          2000
        ]
      },
      {
        "parameters": {
          "jsCode": "const inputData = $input.first().json;\nconst files = inputData.files || [];\nconst agencyName = (files[0] || {}).agencyName || '';\nconst mainFiles = files.filter(f => f.role === 'main');\nconst supportFiles = files.filter(f => f.role === 'support');\nconst mainText = mainFiles.length > 0\n  ? '【주요 실적 파일 (본체)】\\n' + mainFiles.map((f,i) => '[본체파일 '+(i+1)+'] '+f.filename+'\\n'+(f.text||'(내용 없음)')).join('\\n\\n---\\n\\n')\n  : '';\nconst supportText = supportFiles.length > 0\n  ? '\\n\\n【보조 자료 파일 (계획서 등)】\\n' + supportFiles.map((f,i) => '[보조파일 '+(i+1)+'] '+f.filename+'\\n'+(f.text||'(내용 없음)')).join('\\n\\n---\\n\\n')\n  : '';\nreturn [{ json: { agencyName, fileCount: files.length, mainFileCount: mainFiles.length, supportFileCount: supportFiles.length, fileListText: (mainText+supportText).substring(0, 50000) } }];"
        },
        "id": "ef88b079-1001-4589-b53c-53f72cbce723",
        "name": "분류 준비2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2400,
          2000
        ]
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash",
          "options": {
            "maxOutputTokens": 8000
          }
        },
        "id": "362e34df-1bec-45ab-9095-fff8aa20cd89",
        "name": "Google Gemini (Agent용)2",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2480,
          2144
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "GjifZesv3uzCC7ex",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "기관명: {{ $json.agencyName }}\n전체 파일 수: {{ $json.fileCount }}개 (본체 {{ $json.mainFileCount }}개 / 보조자료 {{ $json.supportFileCount }}개)\n\n【실적 수 확인】\n본체 파일이 {{ $json.mainFileCount }}개이므로, 실적을 반드시 {{ $json.mainFileCount }}건 작성하세요.\n보조자료만 있고 본체가 없으면 보조자료 수만큼 작성하세요.\n선별하거나 줄이지 마세요. 올라온 파일 전부 작성합니다.\n\n【업로드된 파일 내용】\n{{ $json.fileListText }}\n\n위 파일들을 분석하여 첨부7 정성보고서 초안을 작성해주세요.\n- 본체 파일 1개 = 실적 1건. 빠짐없이 전부 작성하세요.\n- 파일 안의 내용이 아닌, 파일로 대표되는 제작·배포 활동이 실적입니다.\n- 계획서(보조자료)는 실적으로 세지 말고, 같은 실적의 배경·내용 파악에만 활용하세요.",
          "options": {
            "systemMessage": "당신은 데이터기반행정 활성화 평가 정성보고서(첨부7) 작성 전문가입니다.\n\n【⚠️ 절대 규칙 — 실적이란 무엇인가】\n1. 실적(추진실적) = 업로드된 파일이 나타내는 제작물·활동 자체입니다.\n2. 파일 안의 내용(카드뉴스에 담긴 설명, 포스터에 표시된 수치)은 실적이 아닙니다.\n3. 선별하지 마세요. 본체 파일 수 = 실적 수. 올라온 것은 전부 작성합니다.\n4. 한 파일 = 한 실적. 한 파일에서 여러 실적을 파생시키지 마세요.\n5. 계획서·계획(안)은 배경·내용 파악에만 활용. 별도 실적이 아닙니다.\n\n【지표 설명】\n지표 3-3-3. 활성화 제고를 위한 다양한 노력\n∎ 기관에서 데이터기반행정을 활성화하기 위해 추진한 다양한 시책 노력을 8점 만점 기준으로 정성 평가\n\n【실적 유형 분류표】\n유형 1. 데이터 분석·활용 역량진단 결과의 활용\n유형 2. 기반조성\n유형 3. 문화조성 및 성과확산\n유형 4. AI·데이터 전문인력 양성\n유형 5. 기타\n\n【각 항목 작성 기준】\n▶ title(실적명): 파일명에서 기관명 제거한 핵심 제작물명·활동명\n▶ background(추진배경 및 목적): 제작·활동 기획 배경과 목적. 파일 내 데이터·수치 나열 금지\n▶ target(추진대상): 수혜자·배포 대상·교육 대상\n▶ content(추진내용): 무엇을 + 어떻게(제작·배포·실시 방법)\n▶ outcome(추진성과): 이 활동이 가져온/기대되는 효과. 파일 내 수치 나열 금지\n\n【⚠️ 출력 형식 — 절대 준수】\n반드시 아래 JSON 스키마를 정확히 따르세요. 키 이름을 변경하거나 한국어로 바꾸지 마세요.\n\n{\n  \"achievements\": [\n    {\n      \"achievementNumber\": 1,\n      \"type\": \"문화조성 및 성과확산\",\n      \"title\": \"데이터기반행정 카드뉴스 제작·배포\",\n      \"relatedFiles\": [\"파일명.pdf\"],\n      \"background\": \"추진배경 및 목적 텍스트\",\n      \"target\": \"추진대상 텍스트\",\n      \"content\": \"추진내용 텍스트\",\n      \"outcome\": \"추진성과 텍스트\"\n    }\n  ],\n  \"summary\": \"전체 요약 1~2문장\"\n}\n\n- 반드시 순수 JSON만 출력. ```json 코드블록·마크다운·설명 텍스트 절대 금지.\n- 첫 글자는 반드시 { 마지막 글자는 반드시 }\n- achievements, summary, achievementNumber, type, title, relatedFiles, background, target, content, outcome 키 이름을 절대 바꾸지 마세요."
          }
        },
        "id": "08cc900a-c0b7-4b56-8b92-032c50df54a1",
        "name": "실적 분류 & 초안 작성2",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          2560,
          2000
        ]
      },
      {
        "parameters": {
          "jsCode": "{\"type\":\"object\",\"properties\":{\"achievements\":{\"type\":\"array\",\"items\":{\"type\":\"object\",\"properties\":{\"achievementNumber\":{\"type\":\"number\"},\"type\":{\"type\":\"string\"},\"title\":{\"type\":\"string\"},\"relatedFiles\":{\"type\":\"array\",\"items\":{\"type\":\"string\"}},\"background\":{\"type\":\"string\"},\"target\":{\"type\":\"string\"},\"content\":{\"type\":\"string\"},\"outcome\":{\"type\":\"string\"}},\"required\":[\"achievementNumber\",\"type\",\"title\",\"relatedFiles\",\"background\",\"target\",\"content\",\"outcome\"]}},\"summary\":{\"type\":\"string\"}},\"required\":[\"achievements\",\"summary\"]}"
        },
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.3,
        "position": [
          2704,
          2176
        ],
        "id": "edab6c75-3a65-4928-9e9d-c7af21595108",
        "name": "초안 출력 파서2"
      },
      {
        "parameters": {
          "jsCode": "const outputRaw = $input.first().json.output;\n\nfunction extractJSON(str) {\n  if (typeof str !== 'string') return str;\n  let m = str.match(/```json\\s*([\\s\\S]*?)```/);\n  if (m) return m[1].trim();\n  m = str.match(/```\\s*([\\s\\S]*?)```/);\n  if (m) return m[1].trim();\n  const first = str.indexOf('{');\n  const last = str.lastIndexOf('}');\n  if (first !== -1 && last > first) return str.substring(first, last + 1).trim();\n  return str.trim();\n}\n\nfunction normalizeItem(item, i) {\n  const bg =\n    item.background ||\n    item.backgroundAndPurpose ||\n    item['추진배경 및 목적'] ||\n    item['추진배경및목적'] ||\n    item['추진배경'] || '';\n  return {\n    achievementNumber: item.achievementNumber || item.number || (i + 1),\n    type: item.type || item['유형'] || item['실적유형'] || '기타',\n    title: item.title || item['제목'] || item['실적명'] || item.name || '',\n    relatedFiles: item.relatedFiles || item.files || item['관련파일'] || [],\n    background: bg,\n    target: item.target || item['추진대상'] || '',\n    content: item.content || item['추진내용'] || '',\n    outcome:\n      item.outcome || item.result || item.achievementAndExpectedEffect ||\n      item.achievementResult || item['추진성과'] ||\n      item['추진성과(기대효과)'] || item['기대효과'] || ''\n  };\n}\n\nfunction normalizeData(raw) {\n  if (!raw) return { achievements: [], summary: '' };\n  if (Array.isArray(raw.achievements) && raw.achievements.length > 0) {\n    return { achievements: raw.achievements.map(normalizeItem), summary: raw.summary || '' };\n  }\n  const src =\n    raw.report || raw.results || raw['실적'] ||\n    raw['정성보고서'] || raw['추진실적'] || raw['실적목록'] || [];\n  if (Array.isArray(src) && src.length > 0) {\n    return {\n      achievements: src.map(normalizeItem),\n      summary: raw.summary || raw['요약'] || ('총 ' + src.length + '건의 실적을 작성하였습니다.')\n    };\n  }\n  return { achievements: [], summary: raw.summary || raw['요약'] || '' };\n}\n\nvar data;\ntry {\n  data = normalizeData(JSON.parse(extractJSON(outputRaw)));\n} catch(e) {\n  data = { achievements: [], summary: '⚠️ 출력 파싱 실패. (' + String(e.message) + ')\\n\\n[원본 출력 앞 500자]\\n' + String(outputRaw || '').substring(0, 500) };\n}\n\nvar achievements = data.achievements || [];\nvar html = '<!DOCTYPE html><html lang=\"ko\"><head><meta charset=\"UTF-8\"><title>첨부7 정성보고서 초안</title>';\nhtml += '<style>@media print{.no-print{display:none!important}body{margin:0}.achievement{page-break-inside:avoid}}body{font-family:\"Malgun Gothic\",sans-serif;max-width:960px;margin:20px auto;padding:24px;line-height:1.7;color:#222}h1{color:#1a3a5c;border-bottom:3px solid #2980b9;padding-bottom:12px;margin-bottom:6px}.meta{color:#666;font-size:14px;margin-bottom:8px}.print-btn{display:inline-block;background:#2980b9;color:#fff;padding:8px 20px;border-radius:4px;cursor:pointer;border:none;font-size:14px;margin-bottom:20px;font-family:inherit}.achievement{background:#f8f9fa;border-left:5px solid #2980b9;margin:28px 0;padding:20px 24px;border-radius:4px}.ach-header{margin:0 0 10px 0}.ach-num{color:#1a3a5c;font-size:17px;font-weight:bold}.badge{background:#2980b9;color:#fff;padding:3px 12px;border-radius:12px;font-size:12px;margin-left:10px;vertical-align:middle}.files{color:#888;font-size:13px;margin:6px 0 14px 0}.row{display:grid;grid-template-columns:160px 1fr;gap:8px;margin:10px 0;padding:8px 0;border-bottom:1px solid #e9ecef}.row:last-child{border-bottom:none}.lbl{font-weight:bold;color:#555;font-size:14px;padding-top:2px}.val{color:#222;font-size:14px;white-space:pre-wrap}.summary{background:#e8f4fd;border:1px solid #bee3f8;padding:14px 18px;border-radius:4px;margin-bottom:24px;font-size:14px}.footer{color:#aaa;font-size:12px;margin-top:32px;padding-top:12px;border-top:1px solid #eee}</style></head><body>';\nhtml += '<h1>첨부7 정성보고서 초안</h1>';\nhtml += '<div class=\"meta\">실적 ' + achievements.length + '건 | AI 자동 생성 초안 — 반드시 검토 후 사용</div>';\nhtml += '<button class=\"print-btn no-print\" onclick=\"window.print()\">🖨️ PDF로 저장 (인쇄)</button>';\nif (data.summary) html += '<div class=\"summary\">📌 ' + data.summary + '</div>';\nachievements.forEach(function(ach, idx) {\n  var files = (ach.relatedFiles || []).join(' · ');\n  html += '<div class=\"achievement\"><div class=\"ach-header\">';\n  html += '<span class=\"ach-num\">실적 ' + (idx+1) + '. ' + (ach.title||'') + '</span>';\n  if (ach.type) html += '<span class=\"badge\">' + ach.type + '</span>';\n  html += '</div>';\n  if (files) html += '<div class=\"files\">📎 ' + files + '</div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진배경 및 목적</div><div class=\"val\">' + (ach.background||'') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진대상</div><div class=\"val\">' + (ach.target||'') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진내용</div><div class=\"val\">' + (ach.content||'') + '</div></div>';\n  html += '<div class=\"row\"><div class=\"lbl\">추진성과(기대효과)</div><div class=\"val\">' + (ach.outcome||'') + '</div></div>';\n  html += '</div>';\n});\nhtml += '<div class=\"footer\">본 초안은 AI가 생성한 것입니다. 담당자가 반드시 검토·수정 후 활용하시기 바랍니다.</div></body></html>';\nreturn [{ json: { html, achievementCount: achievements.length, summary: data.summary || '' } }];"
        },
        "id": "9f38d868-fe7f-4f9f-a6ea-77264fa5787c",
        "name": "HTML 생성2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2976,
          2000
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst html = item.json.html;\nif (!html) throw new Error('html 키 없음. 사용 가능한 키: ' + Object.keys(item.json||{}).join(', '));\nconst 파일명 = item.json.파일명 || 'report';\nconst safeFileName = 파일명.replace(/[^a-zA-Z0-9가-힙_-]/g, '_');\nreturn [{ binary: { data: { data: Buffer.from(html,'utf-8').toString('base64'), mimeType:'text/html', fileName:`${safeFileName}_분석결과.html` } }, json: item.json }];"
        },
        "id": "0d0fd834-61ed-4abd-b756-b429c9b69716",
        "name": "HTML 저장2",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3120,
          2000
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "1. AI 친화·고가치",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "584bd109-de5c-4a19-9f40-a921c2e1de92"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_1"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "2. 공공데이터 활용도 제고",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "60219518-c6c8-40aa-94bb-e417e1641ed2"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_2"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "3. AI 도입·활용 사례",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "3bd8ca45-16f4-4142-b6c4-2377aebfe170"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_3"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "4. 데이터기반행정 활용도 제고",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "b969a845-3315-432d-98f7-42e9c002373d"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_4"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json['지표 선택'] }}",
                      "rightValue": "5. 공유데이터 제공 노력",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a86f3684-1134-4aeb-aca8-7b92d344d0f1"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "평가항목_5"
              }
            ]
          },
          "options": {}
        },
        "id": "1d93c62b-4722-4859-b437-d692ff6db34b",
        "name": "지표별 분류2",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          1344,
          1968
        ]
      },
      {
        "parameters": {
          "formTitle": "PDF 업로드",
          "formDescription": "증적자료 업로드",
          "formFields": {
            "values": [
              {
                "fieldLabel": "기관명을 입력하세요",
                "requiredField": true
              },
              {
                "fieldLabel": "증적자료를 업로드하세요",
                "fieldType": "file",
                "acceptFileTypes": ".pdf",
                "requiredField": true
              },
              {
                "fieldLabel": "지표 선택",
                "fieldType": "dropdown",
                "defaultValue": "지표를 선택하세요",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "1. AI 친화·고가치"
                    },
                    {
                      "option": "2. 공공데이터 활용도 제고"
                    },
                    {
                      "option": "3. AI 도입·활용 사례"
                    },
                    {
                      "option": "4. 데이터기반행정 활용도 제고"
                    },
                    {
                      "option": "5. 공유데이터 제공 노력"
                    }
                  ]
                },
                "requiredField": true
              }
            ]
          },
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "7fdee2c8-9e9b-46c6-8106-d8c41085dd77",
        "name": "자료 업로드2",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          1136,
          2016
        ],
        "webhookId": "da743d95-895d-4dba-a26b-590d6b4c278d"
      },
      {
        "parameters": {
          "content": "### 2. PDF 텍스트 추출",
          "height": 416,
          "width": 806,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1520,
          1872
        ],
        "id": "c3fab638-0b3f-412b-a034-8bbda147ee85",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "content": "### 3. 분석, 초안 작성",
          "height": 416,
          "width": 502,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2352,
          1872
        ],
        "id": "0e95ea7b-8bb2-4d73-aa8a-6d6db4181982",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "content": "### 4. 결과 출력",
          "height": 416,
          "width": 502,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2864,
          1872
        ],
        "id": "ff86776e-25a1-44a5-8801-cb117ae14f0a",
        "name": "Sticky Note11"
      }
    ],
    "connections": {
      "파일 정규화": {
        "main": [
          [
            {
              "node": "Gemini 파일 업로드",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 파일 업로드": {
        "main": [
          [
            {
              "node": "Gemini 요청 조립",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 요청 조립": {
        "main": [
          [
            {
              "node": "Gemini 내용 생성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 내용 생성": {
        "main": [
          [
            {
              "node": "파일 텍스트 정리",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "파일 텍스트 정리": {
        "main": [
          [
            {
              "node": "전체 취합",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "전체 취합": {
        "main": [
          [
            {
              "node": "분류 준비",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "분류 준비": {
        "main": [
          [
            {
              "node": "실적 분류 & 초안 작성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini (Agent용)": {
        "ai_languageModel": [
          [
            {
              "node": "실적 분류 & 초안 작성",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "HTML 생성": {
        "main": [
          [
            {
              "node": "HTML 저장",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "지표별 분류": {
        "main": [
          [],
          [],
          [],
          [
            {
              "node": "파일 정규화",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "실적 분류 & 초안 작성": {
        "main": [
          [
            {
              "node": "HTML 생성",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "초안 출력 파서": {
        "ai_tool": [
          [
            {
              "node": "실적 분류 & 초안 작성",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "자료 업로드": {
        "main": [
          [
            {
              "node": "지표별 분류",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "파일 정규화1": {
        "main": [
          [
            {
              "node": "Gemini 파일 업로드1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 파일 업로드1": {
        "main": [
          [
            {
              "node": "Gemini 요청 조립1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 요청 조립1": {
        "main": [
          [
            {
              "node": "Gemini 내용 생성1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 내용 생성1": {
        "main": [
          [
            {
              "node": "파일 텍스트 정리1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "파일 텍스트 정리1": {
        "main": [
          [
            {
              "node": "전체 취합1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "전체 취합1": {
        "main": [
          [
            {
              "node": "분류 준비1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "분류 준비1": {
        "main": [
          [
            {
              "node": "실적 분류 & 초안 작성1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini (Agent용)1": {
        "ai_languageModel": [
          [
            {
              "node": "실적 분류 & 초안 작성1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "실적 분류 & 초안 작성1": {
        "main": [
          [
            {
              "node": "HTML 생성1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "초안 출력 파서1": {
        "ai_tool": [
          [
            {
              "node": "실적 분류 & 초안 작성1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "HTML 생성1": {
        "main": [
          [
            {
              "node": "HTML 저장1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "지표별 분류1": {
        "main": [
          [],
          [],
          [],
          [
            {
              "node": "파일 정규화1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "자료 업로드1": {
        "main": [
          [
            {
              "node": "지표별 분류1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "파일 정규화2": {
        "main": [
          [
            {
              "node": "Gemini 파일 업로드2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 파일 업로드2": {
        "main": [
          [
            {
              "node": "Gemini 요청 조립2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 요청 조립2": {
        "main": [
          [
            {
              "node": "Gemini 내용 생성2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 내용 생성2": {
        "main": [
          [
            {
              "node": "파일 텍스트 정리2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "파일 텍스트 정리2": {
        "main": [
          [
            {
              "node": "전체 취합2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "전체 취합2": {
        "main": [
          [
            {
              "node": "분류 준비2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "분류 준비2": {
        "main": [
          [
            {
              "node": "실적 분류 & 초안 작성2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini (Agent용)2": {
        "ai_languageModel": [
          [
            {
              "node": "실적 분류 & 초안 작성2",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "실적 분류 & 초안 작성2": {
        "main": [
          [
            {
              "node": "HTML 생성2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "초안 출력 파서2": {
        "ai_tool": [
          [
            {
              "node": "실적 분류 & 초안 작성2",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "HTML 생성2": {
        "main": [
          [
            {
              "node": "HTML 저장2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "지표별 분류2": {
        "main": [
          [],
          [],
          [],
          [
            {
              "node": "파일 정규화2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "자료 업로드2": {
        "main": [
          [
            {
              "node": "지표별 분류2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "jy jeung",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-30T00:38:09.499Z",
        "id": 73,
        "workflowId": "7ljk74wFhpvgz3jy",
        "versionId": "b2c7801c-2ac4-4535-8dcc-e0930f59940e",
        "event": "activated",
        "userId": "4abf0400-2871-4f8d-802c-e275d8b8f939"
      },
      {
        "createdAt": "2026-03-30T00:38:09.427Z",
        "id": 72,
        "workflowId": "7ljk74wFhpvgz3jy",
        "versionId": "b2c7801c-2ac4-4535-8dcc-e0930f59940e",
        "event": "deactivated",
        "userId": "4abf0400-2871-4f8d-802c-e275d8b8f939"
      }
    ]
  }
}